{% extends 'base.html' %}
{% load static %}
{% block head_js %}
<script defer type="text/javascript" src="{% static 'js/utility.js' %}"></script>
<script defer type="text/javascript" src="{% static 'js/head.js' %}"></script>
<script defer type="text/javascript" src="{% static 'js/manage.js' %}"></script>
{% endblock head_js %}
{% block content %}
{% include 'header.html' %}
<div id="manage-clients" class="manage-container">
    <section class="manage-form-container">
        <div class="steps-icon">
            <i class="fas fa-user-plus steps-icon__icon" aria-hidden="true"></i>
        </div>
        <h1 class="manage-heading">Manage Clients</h1>
        <!----- DESKTOP TOTALS VIEW ------>
        <div class="manage-total manage-total-desktop">
            {% if clients|length > 1 %}
                <p>You have a total of {{ clients|length }} clients.</p>
            {% elif clients|length == 0 %}
                <p>You have a total of {{ clients|length }} clients.</p>
            {% elif clients|length == 1 %}
                <p>You have a total of {{ clients|length }} client.</p>
            {% endif %}
        </div>
        <!-------------------------------->
        <p class="manage-text">Create a New Client Account</p>
        <form class="manage-form" method="POST">
            {% csrf_token %}
            {{ new_client.as_p }}
            <button id="manage-client-button" class="manage-form__button"type="submit">Create Account</button>
        </form>
        {% if messages %}
            {% for message in messages %}
                {% if "failed_client" in message.tags %}
                <p class="generic-success manage-success"> <i class="fas fa-times" aria-hidden="true"></i> {{ message }}</p>
                {% else %}
                <p class="generic-success manage-success"> <i class="far fa-check-circle" aria-hidden="true"></i> {{ message }}</p>
                {% endif %}
            {% endfor %}
        {% else %}
            <div class="generic-success-dummy"></div>
        {% endif %}
        <!----- MOBILE TOTALS VIEW ---->
    </section>
    <hr class="manage-hr manage-total-mobile">
    <section class="manage-total manage-total-mobile">
        {% if clients|length > 1 %}
            <p>You have a total of {{ clients|length }} clients.</p>
        {% elif clients|length == 0 %}
            <p>You have a total of {{ clients|length }} clients.</p>
        {% elif clients|length == 1 %}
            <p>You have a total of {{ clients|length }} client.</p>
        {% endif %}
    </section>
    <hr class="manage-hr manage-hr--added-margin manage-total-mobile">
    <!-------------------------->
    <section class="manage-items-container {% if clients|length <= 2 %} manage-items-container--no-items {% endif %} ">
        {% if clients %}
            {% for client in clients %}
            <div class="manage-item-container">
                <div class="manage-item__row">
                    <div class="manage-item__column">
                        <p id="manage-items__text-top"><i class="fas fa-user" aria-hidden="true"></i> {{ client.client.first_name}} {{ client.client.last_name}}</p>
                    </div>
                </div>
                <hr class="manage-items-hr">
                <div class="manage-item__row">
                    <div class="manage-item__column">
                        <p><i class="far fa-envelope manage-item__icon" aria-hidden="true"></i> {{ client.client.email}}</p>
                    </div>
                </div>
                <hr class="manage-items-hr">
                <div class="manage-item__row">
                    <div class="manage-item__column">
                        <p><i class="fas fa-phone manage-item__icon" aria-hidden="true"></i> {% if client.profile %}{{ client.profile.phone}}{% else %}<span class="manage-item__no-client-number" title="No number yet, client profile incomplete."> n/a</span>{% endif %}</p>
                    </div>
                </div>
                <hr class="manage-items-hr">
                <div class="manage-item__row">
                    <div class="manage-item__column manage-item__button-column">
                        <form class="manage-button" action="{% url 'client_profile' username=username client_id=client.client.id %}">
                            {% csrf_token %}
                            {% if client.profile %}
                            <button class="manage-button__button" type="submit">Edit Profile</button>
                            {% elif not client.profile %}
                            <button class="manage-button__button" type="submit">Create Profile</button>
                            {% endif %}
                        </form>
                    </div>
                    <div class="manage-item__column manage-item__button-column">
                        <div class="manage-button">
                            <button data-id="Delete Client" class="manage-button__button manage-button__button--delete-color manage-delete">Delete Client</button>
                        </div>
                    </div>
                </div>
                <div id="manage-show-delete" class="manage-item__row manage-item__row--center manage-delete__button--hide">
                    <div class="manage-item__column manage-item__column--center">
                        <p class="manage-item__delete-text">Are you sure ?</p>
                        <p class="manage-item__delete-text">All related jobs and cycles will be deleted too.</p>
                        <form class="manage-button" method="POST" action="{% url 'delete_client' username=username client_id=client.client.id%}">
                            {% csrf_token %}
                            <button class="manage-button__button manage-button__button--delete-color" type="submit">I'm Sure <i class="fas fa-check" aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="manage-item__spacer"></div>
        {% endfor %}
        {% else %}
        <div>
            <i class="fas fa-ban manage-no-item-icon" aria-hidden="true"></i>
        </div>
        <div class="manage-item-container ">
            <div class="manage-no-items-message">
                <p>Your clients will appear here once they are created.</p>
            </div>
        </div>
        {% endif %}
    </section>
</div>
{% include 'footer.html' %}
{% endblock %}