{% extends 'base.html' %}
{% block content %}
<h1>Logged in as {{ username }}</h1>
{% if clients_count > 1 %}
<h2>{{ clients_count }} current clients.</h2>
{% else %}
<h2>{{ clients_count }} current client.</h2>
{% endif %}
<h3>Create a New Client</h3>
<form method="POST">
    {% csrf_token %}
    {{ new_client.as_p }}
    <button type="submit">Create New Client</button>
</form>
{% for message in messages %}
    {% if "create_client" in message.tags %}
        <p>{{ message }}</p>
    {% endif %}
{% endfor %}
<hr>
<div>
    {% for client in clients %}
    <div>
        <h3>Client</h3>
        <p>{{ client.client.first_name }} {{ client.client.last_name }}</p>
        <h3>Client Username</h3>
        <p>{{ client.client.username }}</p>
        <h3>Client Email</h3>
        <p>{{ client.client.email }}</p>
        {% if client.profile.company %}
        <h3>Company</h3>
        <p>{{client.profile.company}}</p>
        <h3>Phone Number</h3>
        <p>{{client.profile.phone}}</p>
        <h3>Position</h3>
        <p>{{client.profile.position}}</p>
        {% else %}
        <p>No Profile saved for this client.</p>
        {% endif %}
        <p>
            <a href="{% url 'client_profile' username=username client_id=client.client.id%}">Client Profile</a>
        </p>
        <!--<form action="{% url 'client_profile' username=username client_id=client.client.id%}">
            {% csrf_token %}
            <button type="submit">Client Profile</button>
        </form>-->
        <!--DO THIS WITH JS INSTEAD OF FROM THE BACKEND TO MITIGATE RELOAD OF PAGE-->
        {% for message in messages %}
        {% if "delete_client" in message.tags %}
            <p>{{ message }}</p>
            <form method="POST" action="{% url 'delete_client' username=username client_id=client.client.id%}"> 
                {% csrf_token %}
                <button type='submit'>Yes</button>
            </form>
            <p><a href="{% url 'manage_clients' username=username %}">No</a></p>
            
        {% endif %}
        {% endfor %}
        <form method="" action="{% url 'delete_client' username=username client_id=client.client.id%}">
            {% csrf_token %}
            <button type="submit">Delete Client</button>
        </form>
    </div>
    <hr>
    {% endfor %}
</div>
{% endblock %}