{% extends 'base.html'%}
{% load static %}
{% block head_js %}
<script defer type="text/javascript" src="{% static 'vendor/jquery/jquery-3.3.1.min.js'%}"></script>
<script defer type="text/javascript" src="{% static 'js/utility.js' %}"></script>
<script defer type="text/javascript" src="{% static 'js/head.js' %}"></script>
<script defer type="text/javascript" src="{% static 'js/payment.js' %}"></script>
<script defer type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script defer type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}
{% block content %}
{% include 'header.html' %}
<section class="payment-container">
    <div class="payment-heading-container">
        <i class="fas fa-credit-card payment-icon" aria-hidden="true"></i>
        <h1 class="payment-heading">Cycle Payment</h1>
        <p class="payment-text">You are paying for the Cycle with <strong>Fileo ID: {{ cycle.id }}. </strong>Please check your details are correct before proceeding.</p>
    </div>
    <form id="payment-form" class="payment-form" method='POST'>
        {% csrf_token %}
        <div class="payment-form__details">
           <p><strong>Your Information</strong></p>
            {{ order_form.as_p }}
        </div>
        <div class="payment-form-pay-container">
            <div class="payment-form__pay">
                <p><strong>Payment Details</strong></p>
                {{ payment_form.as_p}}
                <p><strong>Total: £{{ total }}</strong></p>
                <button id="payment-button" class="{% if status.complete %}payment-form__button-complete{% else %}payment-form__button{% endif %}" {% if status.complete %} disabled="true" {% endif %} type='submit' >{% if status.complete %} Thankyou! {% else %} Checkout <i class="fas fa-shopping-cart" aria-hidden="true"></i>{% endif %}</button>
            </div>
            <div id="credit-card-errors"  style="display:none">
                <p class="alert-message block-message error payment-error" id="stripe-error-message"></p>
            </div>
            {% for message in messages %}
                <div class="payment-success">
                    <p class="generic-success"> <i class="fas fa-check-circle" aria-hidden="true"></i> Payment Successful.</p>
                </div>
                <div class="payment-link-container">
                    <a class="payment-cycles-link" href="{% url 'index' %}">Cycles</a>
                </div>
            {% endfor %} 
        </div>
    </form> 
</section>
{% include 'footer.html' %}
{% endblock %}