{% extends 'base.html'%}
{% load static %}
{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}
{% block content %}
<h1>Payment</h1>
<h2>Total: £{{ total }}</h2>
<div id="credit-card-errors" style="display:none">
    <div class="alert-message block-message error" id="stripe-error-message"></div>
</div>
<form id="payment-form" method='POST'>
    {% csrf_token %}
    {{ order_form.as_p }}
    {{ payment_form.as_p}}
    <button type='submit'>Pay</button>
</form>
<div>
    {% for message in messages %}
    <p> {{ messages }}</p>
    {% endfor %}
</div>
{% endblock %}