{% extends 'base.html' %}
{% load static %}
{% block head_js %}
<script defer type="text/javascript" src="{% static 'js/utility.js' %}"></script>
<script defer type="text/javascript" src="{% static 'js/reset-password.js' %}"></script>
{% endblock head_js %}
{% block content %}
{% include 'reset-header.html' %}
<div class="reset-container">
    <div class="fileo-logo fileo-logo--margin">
        <a class="fileo-logo__link" href="{% url 'index' %}"><div class="fileo-logo__image" alt="Fileo Logo"></div></a>
    </div>
    <div class="reset-complete">
        <i class="far fa-check-circle reset-complete__icon"></i>
        <p class="reset-complete__text">Reset Complete!</p>
    </div>
    <div class="reset-complete-login">
        <a class="reset-complete-login__link" href="{% url 'index' %}">Login</a>
    </div>
</div>
{% endblock %}