{% extends 'base.html' %}
{% load static %}
{% block head_js %}
<script defer type="text/javascript" src="{% static 'js/reset-password.js' %}"></script>
{% endblock head_js %}
{% block content %}
{% include 'reset-header.html' %}
<div class="reset-bg-color reset-container">
    <div class="fileo-logo fileo-logo--margin">
        <a class="fileo-logo__link" href="{% url 'index' %}"><div class="fileo-logo__image" alt="Fileo Logo"></div></a>
    </div>
    <div class="reset-confirm">
        <form class="reset-confirm__form" method='POST'>
            {% csrf_token %}
            <p>{{ form.new_password1 }}</p>
            {{ form.new_password2.errors }}
            <p>{{ form.new_password2 }}</p>
            <button class="reset-confirm__button" type="submit">Reset Password</button>
        </form>
    </div>
   <div class="reset-rules">
        <h1 class="reset-rules__heading">Our Password Guidelines.</h1>
        <p class="reset-rules__text">Your password can't be too similar to your other personal information.</p>
        <p class="reset-rules__text">Your password must contain at least 8 characters.</p>
        <p class="reset-rules__text">Your password can't be a commonly used password.</p>
        <p class="reset-rules__text">Your password can't be entirely numeric.</p>
   </div>
</div>

{% endblock %}