{% extends 'base.html' %}
{% load static %}
{% block head_js %}
<script defer type="text/javascript" src="{% static 'js/reset-password.js' %}"></script>
{% endblock head_js %}
{% block content %}
{% include 'reset-header.html' %}
<div class="reset-bg-color reset-container">
    <div class="fileo-logo fileo-logo--margin">
        <a class="fileo-logo__link" href="{% url 'index' %}"><div class="fileo-logo__image" alt="Fileo Logo"></div></a>
    </div>
    <div class="password-reset">
        <form class="password-reset__form" method='POST'>
            {% csrf_token %}
            <p>{{ form.email.errors }}</p>
            <p>{{ form.email }}</p>
            <div>
                <button type="submit" class="password-reset__button">Reset Password</button>
            </div>
        </form>
        <p class="reset-text">Let's get you back on track.</p>
    </div>
</div>
{% endblock %}