{% extends 'base.html' %}
{% load static %}
{% block head_js %}
<script defer type="text/javascript" src="{% static 'js/utility.js' %}"></script>
<script defer type="text/javascript" src="{% static 'js/head.js' %}"></script>
<script defer type="text/javascript" src="{% static 'js/profile.js' %}"></script>
{% endblock head_js %}
{% block content %}
{% include 'header.html' %}
<section class="profile-container">
    <div class="profile-icon">
        <i class="fas fa-pen profile-icon__icon" aria-hidden="true"></i>
    </div>
    {% if not existing %}
    <h1 class="profile-title">Create Profile</h1>
    <p class="profile-text">Fill in the details below to create a profile for {{ client.first_name }} {{ client.last_name}}. Doing so will make payment quicker for them.</p>
    {% else %}
    <h1 class="profile-title">Update Profile</h1>
    <p class="profile-text">Change the details below to update the profile for {{ client.first_name }} {{ client.last_name}}</p>
    {% endif %}
    {% include 'profile_base.html' %}   
</section> 
{% endblock %}
