{% extends 'base.html' %}
{% block content %}

<p>Logged in as {{ username }}</p>

{% if not existing %}
<h1>Create {{ client.username }}'s Profile</h1>
<p>You haven't created a full profile for <strong>{{ client.username }}</strong> yet. Fill in the details below to update the system.</p>
{% else %}
<h1>Update {{ client.username }}'s Profile</h1>
{% endif %}
<form method="POST">  
    {% csrf_token %}
    {{ profile_form.as_p }}
    {% if not existing %}
        <button type="submit">Create Profile</button>
    {% else %}
        <button type="submit">Update Profile</button>
    {% endif %}
</form>
<p>
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</p>



{% endblock %}