{% extends 'base.html'%}
{% block content %}
<h1>Logged in as {{ username }}</h1>
{% for message in messages %}
    {{ message }}
{% endfor %}
<h2>Manage Account</h2>
<p>Select Create Client to add a new client.</p>
<ul>
    <li>
        <a href="{% url 'member_profile' username=username %}">Manage Profile</a>
    </li>
    <li>
        <a href="{% url 'manage_clients' username=username %}">Manage Clients</a>
    </li>
    <li>
        <a href="#">Manage Jobs</a> 
    </li>
    <li>
        <a href="#}">Manage Cycles</a>
    </li>
</ul>
<form method="POST">
    {% csrf_token %}
    {{ cycle_form.as_p }}
    <button type="submit">Submit</button>
</form>

{% endblock %}