<!-- INVOICE STEP PARTIAL -->
<section class="file-container {% if request.user.is_client %} invoice-file-container--margin {% endif %}">
    <h2 class="porthole-upload-heading">Invoice</h2>
    <div class="upload-container">
        {% if context.invoice %}
        <!------ VIEWABLE BY BOTH MEMBER AND CLIENT ------>
        <div>
            {% if context.cycle_status.approve_invoice %}
                <p class="porthole-status"><i class="far fa-thumbs-up cycles-results__overall-icons" aria-hidden="true"></i> Approved</p>
            {% elif context.cycle_status.contest_invoice %}
                <p class="porthole-status"><i class="fas fa-times cycles-results__overall-icons" aria-hidden="true"></i> Contested</p>
            {% else %}
                <p id="porthole-invoice-waiting"class="porthole-status" title="Once approved payment can be taken."><i class="fas fa-minus cycles-results__overall-icons" aria-hidden="true"></i>Awaiting approval.</p>
            {% endif %}
        </div>
        {% elif not context.invoice %}
        <div class="dummy-approval"></div>
        {% endif %}
        {% if context.invoice %}
        <div class="uploaded-icon uploaded-icon--extra-margin">
            <a href="{{ context.invoice.file.url }}" target="_blank">
                <div class="uploaded-icon__icon"></div>
            </a>
            <p>File uploaded on {{ context.invoice.uploaded_at }}</p>
        </div>
        {% else %}
        <div class="uploaded-icon">
            <i class="fas fa-times no-file-icon" aria-hidden="true"></i>
            <p>No file yet.</p>
        </div>
        {% endif %}
        {% if request.user.is_member %}
            {% if not context.cycle_status.approve_invoice %}
            <form class="upload-form upload-form-no-value" method="POST" enctype="multipart/form-data">
                <!---- VIEWABLE BY MEMBER ONLY ---->
                {% csrf_token %}
                {{ invoice_form.as_p }}
                {% for message in messages %}
                    {% if 'step3_upload_error' in message.tags %}
                    <p class="porthole-error">{{ message }}</p>
                    {% endif %}
                {% endfor %}
                <button id="upload-browse__button" class="upload-form__browse-button" type="button"/>Browse Files</button>
                <button id="quote-submit__button" class="upload-form__button" type="submit">Upload</button>
            </form>
            {% else %}
            <div class="upload-step-congrats">
                {% if context.cycle_status.complete %}
                <p><i class="fas fa-check" aria-hidden="true"></i></p>
                <p>Cycle Complete.</p>
                {% else %}
                <p><i class="far fa-clock" aria-hidden="true"></i></p>
                <p>Payment Pending.</p>
                {% endif %}
            </div>
            {% endif %}
        {% endif %}
        {% if request.user.is_client %}
            {% if not context.cycle_status.approve_invoice %}
                <div class="file-approval">
                <!-------- VIEWABLE BY CLIENT ONLY ---------------------->
                    {% for message in messages %}
                        {% if 'invoice_message' in message.tags %}
                            <p class="porthole-error">{{message}}</p>
                        {% endif %}
                    {% endfor %}
                    {% if not context.cycle_status.approve_invoice and not context.cycle_status.contest_invoice %}
                        <form class="file-approval__form" action="{% url 'invoice_status' username=context.member.username cycle_id=context.cycle.id %}" method="POST">
                            {% csrf_token %}
                                {{ context.status_form.as_p }}
                            <button class="file-approval__button" type="submit">Submit</button>
                        </form>
                    {% endif %}    
                </div>
            {% else %}
                {% if context.cycle_status.pending %}
                    <div class="payment-pending">
                            <p>Please proceed to payment.</p>
                            <form class="payment-pending__form" action="{% url 'payment' username=user.username cycle_id=context.cycle.id %}">
                                <button class="payment-pending__button"><i class="fas fa-credit-card" aria-hidden="true"></i> Pay</button>
                            </form>
                    </div>
                {% elif context.cycle_status.complete %}
                    <div class="upload-step-congrats">
                        <p><i class="fas fa-check" aria-hidden="true"></i></p>
                        <p>Cycle Complete.</p>
                    </div> 
                {% endif %}  
            {% endif %}
        {% endif %}   
    </div>
    {% if request.user.is_member %}
        {% if not context.cycle_status.approve_invoice %}
            <div class="file-action">
                <!---- VIEWABLE BY MEMBER ONLY ---->
                {% if context.invoice %}
                    <p><a class="file-action__delete" href="{% url 'delete' username=context.member.username cycle_id=context.cycle.id step='invoice' %}">Delete Invoice</a></p>
                    <p><a class="file-action__notify" href="{% url 'step_notify' username=context.member.username cycle_id=context.cycle.id step='invoice' %}">Notify Client</a></p>
                    {% if messages %}
                        {% for message in messages %}
                            {% if 'invoice' in message.tags %}
                            <p class="generic-success manage-success porthole-success"> <i class="far fa-check-circle" aria-hidden="true"></i> {{ message }}</p>
                            {% endif %}
                        {% endfor %} 
                    {% endif %}
                {% endif %} 
            </div>
        {% endif %}
    {% endif %}
</section>

    