<!--------VIEWABLE BY MEMBER ONLY ------------------>
<div>
        <h3>Upload Your Invoice</h3>
        <img alt='Show image of PDF icon if uploaded'>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ invoice_form.as_p }}
            <!--<input type="hidden" name="file_type" value="invoice">-->
            
            <button id="upload-browse__button" class="upload-form__browse-button" type="button"/>Browse Files</button>
            <!--<input type="hidden" name="file_type" value="quote">-->
            <button id="invoice-submit__button" class="upload-form__button" type="submit">Upload</button>
        </form>
        {% if context.invoice %}
        <form action="{% url 'delete' username=context.member.username cycle_id=context.cycle.id step='invoice' %}">
            <button type="submit">Delete Invoice</button>
        </form>
        <form action="{% url 'step_notify' username=context.member.username cycle_id=context.cycle.id step='invoice' %}">
            <button type="submit">Notify Client</button>
        </form>
        {% endif %}
        {% for message in messages %}
        {% if 'invoice_delete' in message.tags %}
            <p>{{message}}</p>
        {% endif %}
        {% endfor %}
        <!-------- VIEWABLE BY BOTH MEMBER AND CLIENT -------------->
        <p>File uploaded at: {{ context.invoice.uploaded_at }}</p>
        <ul>
            <li><a href="{{ context.invoice.file.url }}" download>Download File</a></li>
            <li><a href="{{ context.invoice.file.url }}" target="_blank">View in Browser</a></li> 
        </ul>
        <!-------- VIEWABLE BY BOTH MEMBER AND CLIENT -------------->
        <div>
            <h4>Invoice Status</h4>
            {% if context.cycle_status.approve_invoice %}
                <p>Status: Approved</p>
            {% elif context.cycle_status.contest_invoice %}
                <p>Status: Contested</p>
            {% else %}
                <p>No Status</p>
            {% endif %}
        <!-------- VIEWABLE BY CLIENT ONLY -------------------------->
            <div>
                {% for message in messages %}
                    {% if 'invoice_message' in message.tags %}
                            {{message}}
                    {% endif %}
                {% endfor %}
                <form action="{% url 'invoice_status' username=context.member.username cycle_id=context.cycle.id %}" method="POST">
                    <fieldset>
                        {% csrf_token %}
                        {{ context.status_form.as_p }}
                        <button type="submit">Set Status</button>
                    </fieldset>
                </form>
            </div>
            <br>
            
        </div>
    </section>