<!-- PO STEP PARTIAL -->
<section class="file-container {% if request.user.is_client %} po-file-container--margin-top {% else %} po-file-container-margin--bottom {% endif %}">
    <h2 class="porthole-upload-heading">PO</h2>
    <div class="upload-container">
        {% if context.po %}
         <!------ VIEWABLE BY BOTH MEMBER AND CLIENT ------>
        <div>
            {% if context.cycle_status.approve_po %}
                <p class="porthole-status"><i class="far fa-thumbs-up cycles-results__overall-icons" aria-hidden="true"></i> Approved</p>
            {% elif context.cycle_status.contest_po %}
                <p class="porthole-status"><i class="fas fa-times cycles-results__overall-icons" aria-hidden="true"></i> Contested</p>
            {% else %}
                <p id="porthole-po-waiting" title="Once approved you will be able to move on to the next step." class="porthole-status"><i class="fas fa-minus cycles-results__overall-icons" aria-hidden="true"></i>Awaiting approval.</p>
            {% endif %}
        </div>
        {% elif not context.po %}
            <div class="dummy-approval"></div>
        {% endif %}
        {% if context.po %}
        <div class="uploaded-icon uploaded-icon--extra-margin">
            <a href="{{ context.po.file.url }}" target="_blank">
                <div class="uploaded-icon__icon"></div>
            </a>
            <p>File uploaded on {{ context.po.uploaded_at }}</p>
        </div>
        {% else %}
        <div class="uploaded-icon uploaded-icon--extra-margin">
            <i class="fas fa-times no-file-icon" aria-hidden="true"></i>
            <p>No file yet.</p>
        </div>
        {% endif %}
        {% if not context.cycle_status.approve_po %}
            {% if request.user.is_client %}
                <form class="upload-form upload-form-no-value" method="POST" enctype="multipart/form-data">
                    <!---- VIEWABLE BY CLIENT ONLY ---->
                    {% csrf_token %}
                    {{ po_form.as_p }}
                    {% for message in messages %}
                        {% if 'step2_upload_error' in message.tags %}
                        <p class="generic-success manage-success porthole-error">{{ message }}</p>
                        {% endif %}
                    {% endfor %}
                    <button id="upload-browse__button" class="upload-form__browse-button" type="button"/>Browse Files</button>
                    <button id="quote-submit__button" class="upload-form__button" type="submit">Upload</button>
                </form>
            {% elif request.user.is_member %}
                <div class="file-approval">
                     <!---- VIEWABLE BY MEMBER ONLY ---->
                    {% for message in messages %}
                        {% if 'po_message' in message.tags %}
                            <p class="generic-success manage-success porthole-error">{{message}}</p>
                        {% endif %}
                    {% endfor %}
                    {% if not context.cycle_status.approve_po and not context.cycle_status.contest_po %}
                        <form class="file-approval__form" action="{% url 'po_status' username=context.member.username cycle_id=context.cycle.id %}" method="POST">
                            {% csrf_token %}
                                {{ context.status_form.as_p }}
                            <button class="file-approval__button" type="submit">Submit</button>
                        </form>
                    {% endif %}
                    {% if context.cycle_status.contest_po %}
                    <p class="generic-success">Please wait for {{ context.cycle.client.first_name }} to upload a revised PO.</p>
                    {% endif %}
                </div>
            {% endif %}
        {% else %}
            <div class="upload-step-congrats">
                {% if request.user.is_member %}
                    <p id="po-success" title="When you are ready to invoice, please proceed to the next step."><i class="fas fa-arrow-circle-right upload-step-congrats-desktop" aria-hidden="true"></i></p>
                    <p id="po-success" title="When you are ready to invoice, please proceed to the next step."><i class="fas fa-arrow-circle-down upload-step-congrats-mobile" aria-hidden="true"></i></p>
                {% elif request.user.is_client %}
                    <p id="po-success" title="Once your invoice has been uploaded please proceed to the next step."><i class="fas fa-arrow-circle-right upload-step-congrats-desktop" aria-hidden="true"></i></p>
                    <p id="po-success" title="Once your invoice has been uploaded please proceed to the next step."><i class="fas fa-arrow-circle-down upload-step-congrats-mobile" aria-hidden="true"></i></p>
                {% endif %}
            </div>
        {% endif %}
    </div>
    {% if request.user.is_client %}
      <!---- VIEWABLE BY CLIENT ONLY ---->
        {% if not context.cycle_status.approve_po %}
        <div class="file-action">
            {% if context.po and not context.cycle_status.contest_po %}
                <p><a class="file-action__delete" href="{% url 'delete' username=context.client.username cycle_id=context.cycle.id step='po' %}">Delete PO</a></p>
                <p><a class="file-action__notify" href="{% url 'step_notify' username=context.client.username cycle_id=context.cycle.id step='po' %}">Notify Member</a></p>
            
                {% if messages %}
                    {% for message in messages %}
                        {% if 'po' in message.tags %}
                        <p class="generic-success manage-success porthole-success"> <i class="far fa-check-circle" aria-hidden="true"></i> {{ message }}</p>
                        {% endif %}
                    {% endfor %} 
                {% endif %}
            {% elif context.cycle_status.contest_po %}
            <p class="generic-success">{{ context.cycle.member.first_name }} has contested your PO. You must upload a revised PO to proceed.</p>
            {% endif %}
        </div>
        {% endif %}
    {% endif %}    
</section>

