{% extends 'base.html' %}
{% load static %}
{% block head_js %}
<script defer type="text/javascript" src="{% static 'js/utility.js' %}"></script>
<script defer type="text/javascript" src="{% static 'js/head.js' %}"></script>
<script defer type="text/javascript" src="{% static 'js/porthole.js' %}"></script>
{% endblock head_js %}
{% block content %}
{% include 'header.html' %}
<div class="porthole-container">
    <!----------MOBILE------------------>
    <section class="porthole-details-container porthole-details-container-mobile">
        <div class="porthole-details__row">
            <div class="porthole-details__column">
                <h1 class="porthole-details__heading">Cycle Porthole</h1>
                <p class="porthole-details__text porthole-details__id"><strong>Fileo Cycle ID: </strong> {{ context.cycle.id }}</p>
            </div>
        </div>
        <hr class="porthole-details__hr">
        <div class="porthole-details__row">
            <div class="porthole-details__column porthole-details--description">
                <p class="porthole-details__text"><i class="far fa-circle" aria-hidden="true"></i><strong> Cycle Name: </strong> {{ context.cycle.cycle_title }}</p>
                <p class="porthole-details__text"><i class="fas fa-pen-square" aria-hidden="true"></i><strong> Description: </strong>{{ context.cycle.description }}</p>
            </div>  
        </div>
        <hr class="porthole-details__hr">
        <div class="porthole-details__row">
            <div class="porthole-details__column">
                <p class="porthole-details__text"><i class="fas fa-map-marked-alt" aria-hidden="true"></i><strong> Location:</strong> {{ context.cycle.location }}</p>
            </div>
        </div>
        <hr class="porthole-details__hr">
        <div class="porthole-details__row">
            {% if request.user.is_member %}
                <p class="porthole-details__date"><i class="fas fa-user" aria-hidden="true"></i><strong> Client Name:</strong> {{ context.cycle.client.first_name }} {{ context.cycle.client.last_name }}</p>
            {% else %}
                <p class="porthole-details__date"><i class="fas fa-user" aria-hidden="true"></i><strong> Member Name:</strong> {{ context.cycle.member.first_name }} {{ context.cycle.member.last_name }}</p>
            {% endif %}
        </div>
        <hr class="porthole-details__hr">
        <div class="porthole-details__row">
            <p class="porthole-details__date"><i class="fas fa-briefcase manage-item__icon" aria-hidden="true"></i><strong> Job Name:</strong> {{ context.cycle.job.job_title }}</p>
        </div>
        <hr class="porthole-details__hr">
        <div class="porthole-details__row">
            <div class="porthole-details__column"> 
                <p class="porthole-details__text"><i class="far fa-calendar" aria-hidden="true"></i><strong> From:</strong> {{ context.cycle_start }}</p>
            </div>
            <div class="porthole-details__column">
                <p class="porthole-details__text"><i class="far fa-calendar" aria-hidden="true"></i><strong> Until:</strong> {{ context.cycle_end }}</p>
            </div>
        </div>
        <hr class="porthole-details__hr">
        <div class="porthole-details__row">
            <div class="porthole-details__column">
                {% if context.cycle.cycle_value %}
                <p class="porthole-details__text"><i class="fas fa-pound-sign" aria-hidden="true" ></i> {{ context.cycle.cycle_value }}</p>
                {% else %}
                <p class="porthole-details__text"><i class="fas fa-pound-sign" aria-hidden="true"></i> tbc.</p>
                {% endif %}
            </div>
        </div>
        <hr class="porthole-details__hr">
    </section>
    <!---------------------------DESKTOP-------------------------->
    <section class="porthole-details-container porthole-details-container-desktop">
        <div class="porthole-details__row">
            <div class="porthole-details__column">
                <h1 class="porthole-details__heading">Cycle Porthole</h1>
            </div>
            <div class="porthole-details__column">
                <p class="porthole-details__text porthole-details__id"><strong>Fileo Cycle ID: </strong> {{ context.cycle.id }}</p>
            </div>
            <div class="porthole-details__column">
                <p class="porthole-details__text"><i class="far fa-circle" aria-hidden="true"></i><strong> Cycle Name: </strong> {{ context.cycle.cycle_title }}</p>
            </div>
            <div class="porthole-details__column porthole-details--description">
                <p class="porthole-details__text"><i class="fas fa-pen-square" aria-hidden="true"></i><strong> Description: </strong> {{ context.cycle.description }}</p>
            </div>
            <div class="porthole-details__column">
                <p class="porthole-details__text"><i class="fas fa-map-marked-alt" aria-hidden="true"></i><strong> Location: </strong> {{ context.cycle.location }}</p>
            </div>
        </div>
        <hr class="porthole-details__hr">
        <div class="porthole-details__row">
            {% if request.user.is_member %}
                <p class="porthole-details__date"><i class="fas fa-user" aria-hidden="true"></i><strong> Client Name: </strong> {{ context.cycle.client.first_name }} {{ context.cycle.client.last_name }}</p>
            {% else %}
                <p class="porthole-details__date"><i class="fas fa-user" aria-hidden="true"></i><strong> Member Name: </strong> {{ context.cycle.member.first_name }} {{ context.cycle.member.last_name }}</p>
            {% endif %}
        </div>
        <hr class="porthole-details__hr">
        <div class="porthole-details__row">
            <p class="porthole-details__date"><i class="fas fa-briefcase manage-item__icon" aria-hidden="true"></i><strong> Job Name: </strong> {{ context.cycle.job.job_title }}</p>
        </div>
        <hr class="porthole-details__hr">
        <div class="porthole-details__row">
            <p class="porthole-details__date"><i class="far fa-calendar" aria-hidden="true"></i><strong> From:</strong> {{ context.cycle_start }}</p>
            <p class="porthole-details__date"><i class="far fa-calendar" aria-hidden="true"></i><strong> Until:</strong> {{ context.cycle_end }}</p>
        </div>
        <hr class="porthole-details__hr">
        <div class="porthole-details__row">
            <div class="porthole-details__column">
                {% if context.cycle.cycle_value %}
                <p class="porthole-details__text"><i class="fas fa-pound-sign" aria-hidden="true" ></i> {{ context.cycle.cycle_value }}</p>
                {% else %}
                <p class="porthole-details__text"><i class="fas fa-pound-sign" aria-hidden="true"></i> tbc.</p>
                {% endif %}
            </div>
        </div>
        <hr class="porthole-details__hr">
    </section>
    <section class="all-steps-container">
        {% include 'quote.html' %}
        {% include 'po.html' %}
        {% include 'invoice.html' %}
    </section>
</div>
{% include 'footer.html' %}
{% endblock %}