<h1>Cycle Porthole</h1>

<p>You are logged in as {{ user.username }}</p>
<p>Fileo Cycle ID: {{ context.cycle.id }}</p>
{% if not cycle.cancelled %}
<p>Status: Active</p>
{% else %}
<p>Status: Cancelled</p>
{% endif %}
<h2>Client</h2>
<p>{{ context.cycle.client.username }}</p>
<p>{{ context.cycle.client.first_name }} {{ context.cycle.client.last_name }}</p>
<p>{{ context.client_profile.profile.company }}</p>
<p>{{ context.client_profile.profile.phone }}</p>
<h2>Job Title</h2>
<h3>{{ context.cycle.job.job_title }}</h3>
<h4>Job Number: {{ context.cycle.job.job_number }}</h4>
<h3>Cycle Description</h3>
<h4>Location</h4>
<p>@{{ context.cycle.location }}</p>
<h4>Description</h4>
<p>{{ context.cycle.description }}</p>
<h4>Dates</h4>
<p> Start Date: {{ context.cycle.start_date }}</p>
<p> End Date: {{ context.cycle.end_date }}</p>
<h4>Cycle Value</h4>
{% if context.cycle.cycle_value %}
<p>{{ context.cycle.cycle_value }}</p>
{% else %}
<p>Cycle Value not entered yet.</p>
{% endif %}
<hr>
