{% extends 'base.html' %}
{% block content %}
<h1>Cycle Porthole</h1>
<p>You are logged in as {{ context.username }}</p>
<p>Fileo Cycle ID: {{ context.cycle_id }}</p>
<p>Client: {{ context.client.username }}</p>
<h2>Job Title</h2>
<h3>{{ context.cycle.job_title }}</h3>
<p>@{{ context.cycle.location }}</p>
<h3>Description</h3>
<P>{{ context.cycle.description }}</P>
<h3>Job Value</h3>
{% if context.quote.cycle_value %}
<p>{{ context.quote.cycle_value }}</p>
{% else %}
<p>Cycle Value not entered yet.</p>
{% endif %}
<hr>
<div>
    <h3>Upload Your Quote</h3>
    <img alt='Show image of PDF icon if uploaded'>
    <form method="POST" enctype="multipart/form-data" action="{% url 'quote_upload' username=context.username cycle_id=context.cycle.id client_username=context.cycle.client %}">
        {% csrf_token %}
        {{ context.quote_form.as_p }}
        <button type="submit">Submit</button>
    </form>
    <ul>
        <li><a href="{{ context.quote.file.url }}" download="">Download File</a></li>
        <li><a href="{{ context.quote.file.url }}" target="_blank">View in Browser</a></li> 
    </ul>
    <p>Status: ""</p>
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</div>
<hr>
<div>
    <h3>Upload Your PO</h3>
    <img alt='Show image of PDF icon if uploaded'>
    <form method="POST" enctype="multipart/form-data" action="{% url 'po_upload' username=context.username cycle_id=context.cycle.id client_username=context.cycle.client %}">
        {% csrf_token %}
        {{ context.po_form.as_p }}
        <button type="submit">Submit</button>
    </form>
    <ul>
        <li><a href="{{ context.po.file.url }}" download>Download File</a></li>
        <li><a href="{{ context.po.file.url }}" target="_blank">View in Browser</a></li> 
    </ul>
    <p>Status: ""</p>
</div>
<hr>
<div>
    <h3>Upload Your Invoice</h3>
    <img alt='Show image of PDF icon if uploaded'>
    <form method="POST" enctype="multipart/form-data" action="{% url 'invoice_upload' username=context.username cycle_id=context.cycle.id client_username=context.cycle.client %}">
        {% csrf_token %}
        {{ context.invoice_form.as_p }}
        <button type="submit">Submit</button>
    </form>
    <ul>
        <li><a href="{{ context.invoice.file.url }}" download>Download File</a></li>
        <li><a href="{{ context.invoice.file.url }}" target="_blank">View in Browser</a></li> 
    </ul>
    <p>Status: ""</p>
</div>
<hr>
{% endblock %}