<section class="quote-file-container">
    {% if request.user.is_member %}
    <h2 class="porthole-upload-heading">Upload Your Quote</h2>
    {% elif request.user.is_client %}
    <h2 class="porthole-upload-heading">View Your Quote</h2>
    {% endif %}
    <!---FILE ICON ONLY SHOWS ON FILE UPLOADED -->
    <div class="quote-upload-container">
        {% if context.quote %}
        <div class="uploaded-icon">
            <a href="{{ context.quote.file.url }}" target="_blank">
                <div class="uploaded-icon__icon"></div>
            </a>
            <p>Click to view.</p>
        </div>
        {% else %}
        <div class="uploaded-icon">
            <i class="fas fa-times no-file-icon" aria-hidden="true"></i>
            <p>No file yet.</p>
        </div>
        {% endif %}
        {% if request.user.is_member %}
        <form class="upload-form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ quote_form.as_p }}
            <button id="upload-browse__button" class="upload-form__browse-button" type="button"/>Browse Files</button>
            <!--<input type="hidden" name="file_type" value="quote">-->
            <button id="quote-submit__button" class="upload-form__button" type="submit">Upload</button>
        </form>
    </div>
    <div class="file-action">
        {% if context.quote %}
        <div>
            <a class="file-action__delete" href="{% url 'delete' username=context.member.username cycle_id=context.cycle.id step='quote' %}">Delete Quote</a>
        </div>
        <div>
            <a class="file-action__notify" href="{% url 'step_notify' username=context.member.username cycle_id=context.cycle.id step='quote' %}">Notify Client</a>
        </div>
        {% endif %}
    </div>
    <div>
        {% for message in messages %}
            {% if 'quote_delete' in message.tags %}
                <p>{{message}}</p>
            {% endif %}
        {% endfor %}   
    </div>
        {% endif %}
        <!------ VIEWABLE BY BOTH MEMBER AND CLIENT ------>
    {% if context.quote %}
    <p>File uploaded at {{ context.quote.uploaded_at }}</p>
    {% endif %}
    <!------ VIEWABLE BY  CLIENT ------>
    {% if request.user.is_client %}
    <div>
        <h4>Approval</h4>
        {% if context.cycle_status.approve_quote %}
            <p>Status: Approved</p>
        {% elif context.cycle_status.contest_quote %}
            <p>Status: Contested</p>
        {% else %}
            <p>No Status</p>
        {% endif %}
    </div>
        
    <!-------- VIEWABLE BY CLIENT ONLY ---------------------->
    
    <div>
        {% for message in messages %}
            {% if 'quote_message' in message.tags %}
                {{message}}
            {% endif %}
        {% endfor %}
        <form action="{% url 'quote_status' username=context.member.username cycle_id=context.cycle.id %}" method="POST">
            {% csrf_token %}
            <fieldset>
                {{ context.status_form.as_p }}
                <button type="submit">Submit</button>
            </fieldset>
        </form> 
        
    </div>
    {% endif %}   
</section>