<!-- QUOTE STEP PARTIAL -->
<section class="file-container quote-file-container--margin">
    <h2 class="porthole-upload-heading">Quote</h2>
    <div class="upload-container">
        {% if context.quote %}
        <!------ VIEWABLE BY BOTH MEMBER AND CLIENT ------>
        <div>
            {% if context.cycle_status.approve_quote %}
                <p class="porthole-status"><i class="far fa-thumbs-up cycles-results__overall-icons" aria-hidden="true"></i> Approved</p>
            {% elif context.cycle_status.contest_quote %}
                <p class="porthole-status"><i class="fas fa-times cycles-results__overall-icons" aria-hidden="true"></i> Contested</p>
            {% else %}
                <p id="porthole-quote-waiting" title="Once approved you will be able to move on to the next step." class="porthole-status"><i class="fas fa-minus cycles-results__overall-icons" aria-hidden="true"></i>Awaiting approval.</p>
            {% endif %}
        </div>
        {% elif not context.quote %}
            <div class="dummy-approval"></div>
        {% endif %}
        {% if context.quote %}
        <div class="uploaded-icon">
            <a href="{{ context.quote.file.url }}" target="_blank">
                <div class="uploaded-icon__icon"></div>
            </a>
            <p>File uploaded on {{ context.quote.uploaded_at }}</p>
        </div>
        {% else %}
        <div class="uploaded-icon">
            <i class="fas fa-times no-file-icon" aria-hidden="true"></i>
            <p>No file yet.</p>
        </div>
        {% endif %}
        {% if not context.cycle_status.approve_quote %}
            {% if request.user.is_member %}
            <form class="upload-form" method="POST" enctype="multipart/form-data">
                 <!---- VIEWABLE BY MEMBER ONLY ---->
                {% csrf_token %}
                {{ quote_form.as_p }}
                <button id="upload-browse__button" class="upload-form__browse-button" type="button"/>Browse Files</button>
                <button id="quote-submit__button" class="upload-form__button" type="submit">Upload</button>
            </form>
            {% elif request.user.is_client %}
                <div class="file-approval">
                    <!-------- VIEWABLE BY CLIENT ONLY ---------------------->
                    {% for message in messages %}
                        {% if 'quote_message' in message.tags %}
                            <p class="generic-success manage-success porthole-error">{{message}}</p>
                        {% endif %}
                    {% endfor %}
                    {% if not context.cycle_status.approve_quote and not context.cycle_status.contest_quote %}
                        <form class="file-approval__form" action="{% url 'quote_status' username=context.member.username cycle_id=context.cycle.id %}" method="POST">
                            {% csrf_token %}
                                {{ context.status_form.as_p }}
                            <button class="file-approval__button" type="submit">Submit</button>
                        </form>
                    {% endif %}
                    {% if context.cycle_status.contest_quote %}
                        <p class="generic-success">Please wait for {{ context.cycle.member.first_name }} to upload a revised quote.</p>
                    {% endif %}
                </div>
            {% endif %}
        {% else %}
            <div class="upload-step-congrats">
                {% if request.user.is_member %}
                    <p id="quote-success" title="Once your client has uploaded their PO, please proceed to the next step."><i class="fas fa-arrow-circle-right upload-step-congrats-desktop" aria-hidden="true"></i></p>
                    <p id="quote-success" title="Once your client has uploaded their PO, please proceed to the next step."><i class="fas fa-arrow-circle-down upload-step-congrats-mobile" aria-hidden="true"></i></p>
                {% elif request.user.is_client %}
                    <p id="quote-success" title="When you are ready to PO, please proceed to the next step."><i class="fas fa-arrow-circle-right upload-step-congrats-desktop" aria-hidden="true"></i></p>
                    <p id="quote-success" title="When you are ready to PO, please proceed to the next step."><i class="fas fa-arrow-circle-down upload-step-congrats-mobile" aria-hidden="true"></i></p>
                {% endif %}
            </div>
        {% endif %}   
    </div>
    {% if request.user.is_member %}
    <!---- VIEWABLE BY MEMBER ONLY ---->
        {% if not context.cycle_status.approve_quote %}
            <div class="file-action">
                {% if context.quote and not context.cycle_status.contest_quote %}
                    <p><a class="file-action__delete" href="{% url 'delete' username=context.member.username cycle_id=context.cycle.id step='quote' %}">Delete Quote</a></p>
                    <p><a class="file-action__notify" href="{% url 'step_notify' username=context.member.username cycle_id=context.cycle.id step='quote' %}">Notify Client</a></p>
                    {% if messages %}
                        {% for message in messages %}
                            {% if 'quote' in message.tags %}
                            <p class="generic-success manage-success porthole-success"> <i class="far fa-check-circle" aria-hidden="true"></i> {{ message }}</p>
                            {% endif %}
                        {% endfor %} 
                  {% endif %}
                {% elif context.cycle_status.contest_quote %}
                    <p class="generic-success">{{ context.cycle.client.first_name }} has contested your quote. You must upload a revised quote to proceed.</p>
                {% endif %} 
            </div>
        {% endif %}
    {% endif %}
</section>