
// CYCLES TEMPLATE STYLES //

.cycles-container {

    position: relative;
    top: 4rem;
    z-index: -1;
    min-height: calc(100% - 6rem);
}

// ------- SEARCH FORM STYLES ------ //

.cycles-search {

    @include flex_column;
    height: 6rem;
}
.cycles-search__form {

    @include flex_column;
    height: 5rem;
}

.cycles-search__filters {

    @include flex_row;
    margin-top: .5rem;
    margin-bottom: .5rem;
    width: 15.1rem;

}

.cycles-search__button {

    @include flex_row;
}

.cycles-search__input {

    @include cycle-search-form-input;

    @include tablet {

        height: 1.5rem;
        width: 18rem;
    }

}

.cycles-search__input-wrapper {

    @include flex_row;
    border-radius: .3rem;
    background-color: #fff;
    margin-bottom: 1rem;
    height: 2.5rem;

    @include tablet {

        height: 5rem;
    }

}

.cycles-search__input-wrapper i {

    padding-left: .5rem;
    color: $login-signup-color;
}

.cycles-search__magnify {
    @include flex_column;
    height:100%;
}

.cycles-search__filter--styled{

    @include select-boxes;
    @include flex_row;
    
}

.cycles-search__select {

    width:100%;
    height:100%;
    text-align: left;
    font-size: .8rem;
    padding-left: .3rem;
    color: #fff;

}

.cycles-search__filter--arrow {

    @include select-arrows;
    
}


.cycles-search__button {

    @include register-login-button-mobile;
    height: 100%;
    width: 5rem;
    background-color: $login_bg_color;
    color: #fff;
    transition: background-color .2s $drop-down-bezier;
}

.cycles-search__button:hover {

    cursor: pointer;
    background-color: $register-icon-color;
 
}

.cycle-reset-container {

    @include flex_row;
}


.cycle-reset-container:hover > a > div {

    background-color: #fff;
}

.cycle-reset-container:hover > a > div > span,
.cycle-reset-container:hover > a > div > span > span {

    color: $register-icon-color;
}

.cycles-search-reset {
    @include flex_row;
    background-color: $register-icon-color;
    padding: .2rem;
    border-radius: 17px;
}

.cycles-search-reset span {

    @include flex_row;
    font-size: .8rem;
    color: #fff;
    transition: color .2s $drop-down-bezier;
    
}

.cycles-search-reset span span {

   padding-right: .3rem;
    
}

.cycles-search-reset span {
 
    font-size: .8rem;
    color: #fff;
    transition: color .2s $drop-down-bezier;
}

//----------- PROFILE TEXT WARNING STYLES ---------//

.cycles-info {

    @include flex_column;
    height: 6rem;
}
.cycles-info__heading {

    color:#fff;
    margin: 0rem;
    
}

.cycles-info__profile-exp {

    position: relative;
    top: 1rem;

}

.cycles-profile-exp__text {

    font-size: .8rem;
    color: $login-error-red;
    width: 18rem;
    text-align: center;
    margin-top: 0rem;
}

.cycles-profile-exp__link {

    color: #fff;
    display: inline-block;
}

.cycles-profile-exp__link:after {

    content: '';
    width: 100%;
    opacity: 0;
    height: 1px;
    display: block;
    background: #fff;
    transition: opacity .3s $drop-down-bezier;
}

.cycles-profile-exp__link:hover:after {

    opacity: 1;
}

.cycles-info__text {

    font-size: .8rem;
    color: #fff;
    width: 19rem;
    text-align: center;
    margin-top: 0rem;

}

.hr-cycles {

    @include hr-cycles;
}

.cycles-item-hr {

    @include hr-cycles;
    margin: .5rem 0 .5rem 0;
    //color: $hr-items-color;
    //opacity: 1;
    border-top: 1px solid $hr-items-color;
   
}
// CYCLES RESULTS SUMMARY //

.cycles-summary {

    @include flex_row;
}

.cycles-summary p {

    margin: 0;
    font-size: .8rem;
    color: #fff;
}

// CYCLES RESULTS STYLES //

.cycles-results { 

    @include flex_column;
}

.cycles-results__container {

    @include flex_column;
    align-items: center;
    width: 300px;
    margin: 1rem 0 2rem 0;
    background-color: $register-icon-color;
    border-radius: .3rem;

    @include desktop {

        width: 50%;
    }
}
// TABLE STYLES //

.cycles-results__table {
    
    width: 100%;
    border-collapse: collapse;
    border-radius: .3rem;
    table-layout: fixed;
}

.cycles-results__heading {

    text-align: left;
}

.cycles-results__table-row {

    height: 2rem;
    
}

.cycles-results__table-row-border {

    border-bottom: 1px solid rgba(37,37,37, .2);

}

.cycles-results__table-row-border td {

    width: 33.3%;
    //text-align: center;
}

.cycles-results__table-form--container {

    width: 95%;
    //@include flex-row;
}


.cycles-results__table-form--container td {

    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.cycles-results__table-form button {

    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

//------------------------------------------//

.cycle-results__container-complete--color {

    background-color: $complete-color;
}

.cycle-results__container-cancelled--color {

    background-color: $cancelled-color;
}

.cycle-results__container-pending--color {

    background-color: $pending-color;
}



.cycles-results__row {

    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;

}

.cycles-results__row-3 {

    @include flex_row;
    width: 100%;
}

.cycles-results__column {

    //overflow: hidden;
}

.cycles-results__text {

    word-wrap:break-word;
    margin: 0 .5rem 0 .5rem;
    
}

/*.column-1 {

    width: 100%;
    align-items: flex-start;

    @include desktop {

        align-items: center;
    }
}*/

/*.column-2 {

    width: 50%;
}*/

// RESULTS BUTTON STYLES //

.cycles-results__porthole {

    
    width: 100%;
}

.cycles-results__porthole-form {

    @include flex_row;

}

.cycles-results__porthole-button {

    @include cycle-porthole-button;
    background-color: $login_bg_color;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: .8rem;
    
}

.cycles-results__porthole-button:hover {

    cursor: pointer;
}

.cycles-results__porthole-button--cancelled {

    background-color: $disabled-buttons;
    color: $disabled-buttons-text;
}

.cycles-results-hr-container {

    @include flex_row;
    

}

.cycles-results-hr-container hr {

    width: 100%;
    color: #fff3;;
}

// OVERALL STATUS ICON STYLES //

.cycles-results__overall-status {

    margin-top: .5rem;
}

.cycles-results__overall-icons {

    height: 100%;
    font-size: 1rem;
    margin-right: .5rem;
  
}

.cycle-results__overall-icon-complete--color {

    color: $complete-icon-color;
}

.cycle-results__overall-icon-cancelled--color {

    color: $cancelled-icon-color;

}

.cycle-results__overall-icon-pending--color {

    color: $pending-icon-color;
}

.cycle-results__overall-icon-active--color {

    color: $active-icon-color;

}

.fileo-explain {

    @include flex_column;
    align-items: center;
    width: 100%;
}

.fileo-explain__text {

    @include flex_column;
    align-items: flex-start;
    width: 15rem;
}

.fileo-explain__text p {

    color:#fff;
    font-size: .8rem;
    margin-top: 0rem;
}

.fileo-explain__heading {

    @include flex_row;
    width: 15rem;
}

.fileo-explain__heading h3 {

    color: #fff;
    margin-top: 0;
}

//---------------------------------------//

// MEDIA QUERIES TO HIDE RESULTS DIVS //

// -------------------------------------//

.cycle-results-tablet {

    display: none;

    @include tablet {

        display: flex;
        
    }
}

.cycle-results-mobile {

  

    @include tablet {

        display: none;

    }
}

.cycles-results__mobile {

    @include desktop {

        display: none;
    }
}

.cycles-results__desktop {

    display: none;

    @include desktop {

        display: block;
    }
    
}