
.main-header {

    height: 4rem;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5;
   
}

.main-header__nav {

    height: 100%;
    @include flex_row;
    justify-content: space-between;
    background-color: $login_bg_color;
    position:relative;
    z-index: 5;

}

.main-header__logo {

    background: url('https://s3.eu-west-2.amazonaws.com/fileo/static/img/F_outline-no-gap-WHITE_2_HIGH-1.5%25.png');
    height: 46px;
    width: 33px;
    background-repeat: no-repeat;
    position: relative;
    left: 1rem;

    @include desktop {

        left: 3.5rem;
    }

}

.nav,
.more {
 
   @include flex_row;
   padding-left: 0;

}

.nav {

    justify-content: space-between;
    width: 9rem;

    @include tablet {

        width: 25rem;
    }
}

.more {

    position: relative;
    right: 1rem;
    transform: rotate(0deg);
    transition: transform .3s $drop-down-bezier;

    @include desktop {

        right: 3.5rem;
    }
}

.more:hover {
    
    cursor: pointer;
   
}

.more--rotate {

    transform: rotate(-90deg);
}

.more__icon {

    font-size: .5rem;
    padding: .1rem;
    color: $nav-icons;
    transition: color .2s $drop-down-bezier;
}

.more:hover > li > i {

    color: #fff;
}

.more--clicked-color {

    color: #fff;
}

.nav__icons {

    font-size: 1.2rem;
    color: $nav-icons;
    transition: color .2s $drop-down-bezier;
}

.nav__icons:hover {

    color: #fff;
}

.nav__icons--clicked {

    color: #fff;
}

.main-header__dropdown {

    width: 100%;
    @include flex_row;
    justify-content: flex-end;
    position: relative;
    top: -8rem;
    transition: top .3s $drop-down-bezier;
    z-index: 1;
    padding-right:0;
    margin-right: 0;

   
}

.drop-down-menu--show {

   top: 0;
}
.main-header__dropdown ul {

    padding-left: 0;
    width: 7rem;
    position: relative;
    right: 0rem;
    margin-top: 0rem;
    

    @include desktop {

        width: 9rem;
    }
}

#last-dropdown-item {

    border-bottom-left-radius: .3rem;
}

.main-header__dropdown-item {

    height: 1.9rem;
    width: 100%;
    @include flex_row;
    padding: .1rem 0 .1rem 0;
    background-color: white;
    //margin-bottom: 1px;
    //border-bottom-left-radius: .2rem;
    transition: background-color .3s $drop-down-bezier;
    //border-bottom: 1px solid $login-signup-color;

}

.main-header__dropdown-item a {

    @include flex_row;
    width: 100%;
    height: 100%;
    color: $login_bg_color;
    font-size: .8rem;

}

.main-header__dropdown-item:hover {

    background-color: $drop-down-bg-hover;
}

.header-banner {

    @include flex_row;
    height: 2rem;
    width: 100%;
    background-color: $banner-color;
    position: relative;
    top: 4rem;
    z-index: -1;
    display: none;

    @include tablet {

        display: flex;
    }
}

.header-banner ul {

    @include flex_row;
    justify-content: space-evenly;
    padding-left: 0;
    width: 90%;
}

.header-banner ul li span,
.header-banner ul li i {

    color: #fff;
}

.header-banner ul li span {

    //display: block;
    padding-left: .5rem;
    font-size: .8rem;
}

.header-banner ul li i {

    font-size: 1rem;
}