
.main-header {

    height: 4rem;
    width: 100%;
   
}

.main-header__nav {

    height: 100%;
    @include flex_row;
    justify-content: space-between;
    background-color: $login_bg_color;
    position:relative;
    z-index: 2;

}

.main-header__logo {

    background: url('../img/F_outline-no-gap-WHITE_2_HIGH-1.5%.png');
    height: 46px;
    width: 33px;
    background-repeat: no-repeat;
    position: relative;
    left: 1rem;

}

.mobile-nav,
.mobile-more {
 
   @include flex_row;
   padding-left: 0;

}

.mobile-nav {

    justify-content: space-between;
    width: 9rem;
}

.mobile-more {

    position: relative;
    right: 1rem;
    transform: rotate(0deg);
    transition: transform .3s $drop-down-bezier;
}

.mobile-more:hover {
    
    cursor: pointer;
   
}


.mobile-more--rotate {

    transform: rotate(-90deg);
}

.mobile-more__icon {

    font-size: .5rem;
    padding: .1rem;
    color: $nav-icons;
    transition: color .2s $drop-down-bezier;
}

.mobile-more:hover > li > i {

    color: #fff;
}

.mobile-more--clicked-color {

    color: #fff;
}

.mobile-nav__icons {

    font-size: 1.2rem;
    color: $nav-icons;
    transition: color .2s $drop-down-bezier;
}

.mobile-nav__icons:hover {

    color: white;
}

.main-header__dropdown {

    width: 100%;
    @include flex_row;
    justify-content: flex-end;
    position: relative;
    top: -8rem;
    transition: top .3s $drop-down-bezier;
    z-index: 1;
}

.drop-down-menu--show {

   top: 0;
}
.main-header__dropdown ul {

    padding-left: 0;
    width: 7rem;
    position: relative;
    right: 0rem;
    margin-top: 0rem;
}

.main-header__dropdown-item {

    height: 1.9rem;
    width: 100%;
    @include flex_row;
    padding: .1rem 0 .1rem 0;
    background-color: white;
    //margin-bottom: 1px;
    border-bottom-left-radius: .2rem;
    transition: background-color .3s $drop-down-bezier;
    border-bottom: 1px solid $login-signup-color;

}

.main-header__dropdown-item a {

    @include flex_row;
    width: 100%;
    height: 100%;
    color: $login_bg_color;
    font-size: .8rem;

}

.main-header__dropdown-item:hover {

    background-color: $drop-down-bg-hover;
}

