
// MANAGE CLIENTS, MANAGE JOBS AND MANAGE CYCLES STYLES //


.manage-heading {

    margin-bottom: 0rem;

    @include desktop {

        margin-top: .5rem;
    }
}

.manage-text {

    margin-bottom: 0.8rem;
}

.manage-container {

    position: relative;
    top: 6rem;
    padding-bottom: 4rem;
    //min-height: calc(100% - 4rem);
    @include flex-column;

    @include desktop {

        top: 8rem;
        //height: 44rem;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.manage-form-container {

    @include flex_column;
    padding-bottom: 1rem;

}

.manage-form {

    @include flex-column;
    background-color: $register-icon-color;
    border-radius: .3rem;
    padding: .5rem 0 0rem 0;

    @include tablet {

        width: 26rem;
    }
        
}

.manage-form input {

    margin-left: .5rem;
    margin-right: .5rem;

}

.manage-form p {

    margin-top: .5rem;
}

.manage-form__button {

    
    @include login-button-mobile;
    background-color: $login_bg_color;
    margin-bottom: 1rem;
    cursor: pointer;

    @include tablet {

        @include login-button-desktop-media-query;
    }
}

// MANAGE JOBS FORM INPUT STYLE SPECIFIC //

.manage-form__update-job-number input {

    color: #898d8f;
}

// MANAGE CYCLES STYLES SPECIFIC //

.manage-cycles-form__start-date,
.manage-cycles-form__end-date {

    @include flex_row;
    justify-content: space-between;
    height: 1.6rem;
    width: 16.6rem;
    padding: 0 .5rem 0 .5rem;
    background-color: $active-icon-color;
    border-radius: .3rem;

    @include tablet {

        height: 2.1rem;
        width: 19.1rem;
    }
    
}

.manage-cycles-form__start-date label,
.manage-cycles-form__end-date label {

    @include flex_row;
    height: 100%;
    //width: 100%;
    //background-color: $register-icon-color;
    padding-right: .5rem;
}

.manage-cycles-form__date-select {

    @include flex_row;
    height: 100%;
}

.manage-cycles-form__date-select select {

    color: #fff;
}

.manage-button__button--cycles-width {

    width: 4rem;
}


.manage-form textarea {

    width: 17.34rem;
    border-radius: .3rem;
    font-size: .8rem;

    @include desktop {

        width: 20.34rem;
    }
}

// END OF MANAGE CYCLES STYLES //

.manage-items-hr {

    @include hr-cycles;
    margin: 0rem 0 0rem 0;
    color:#fff3;
}

.manage-hr {

    @include hr-cycles;
    margin: .5rem 0 .5rem 0;

}

.manage-hr--added-margin {

    margin-bottom: 3.9rem;
    @include desktop {

        margin-bottom: 0rem;
    }
}
// MANAGE ITEM STYLES // 

.manage-items-container {

    @include flex-column;
    justify-content: flex-start;
    width: 18.6rem;
    //padding-bottom: 2rem;

    @include desktop {

        height: 30rem;
        overflow: scroll;
        width: 25rem;
        padding: 2rem;
        border: 1px solid $hr-items-color;
        border-radius: .3rem;
    }
}

.manage-item-container {

    @include flex-column;
    align-items: center;
    background-color: $register-icon-color;
    width: 100%;
    border-radius: .3rem;
    margin: $item-card-margin;
   
}

.manage-item__row {

    @include flex_row;
    justify-content: flex-start;
    width: 90%;
}

.manage-item__row--center {

    justify-content: center;
   
}

.manage-item__column {

    @include flex-column;
    align-items: flex-start;
    overflow: hidden;
    flex-grow: 1;
    //align-items: flex-start;
    
}


.manage-item__column-status p {

    align-self: flex-end;
}


.manage-item__column p {

    margin: $item-card-text-margin;
}

.manage-button {

    @include flex_row;
    width:100%;
    padding-bottom: 1rem;
}
.manage-button__button {

    @include login-button-mobile;
    width: 7rem;
    background-color: $login_bg_color;
    cursor: pointer;

    @include desktop {

        width: 11rem;
    }
    
}

.manage-button__button--cancelled {

    color: $disabled-buttons-text;
    background-color: $disabled-buttons;
}

.manage-items__text-top {

    margin-top: 0.5rem;
    transition: color .2s $drop-down-bezier;
}

.manage-items__text-top:hover {

    color: #bab5b5;
}

.manage-item__button-column {

    width: 50%;
    
}

.manage-button__button--delete-color,
.manage-button__button--reset-color {

    background-color: $cancelled-color;
    
}

.manage-button__button--delete-click,
.manage-button__button--reset-click {

    background-color: $pending-color;
}



// SHOW / HIDE DELETE BUTTON STYLES //

.manage-delete__button--hide,
.manage-reset_button--hide {

    height: 0;
    overflow: hidden; 
    transition: height .3s $drop-down-bezier;
    background-color: $manage-item-delete-show-color;
    padding-left: 15px;
    padding-right: 15px;
    
    @include desktop {

        padding-left: 20px;
        padding-right: 20px;
    }
  
}

.manage-delete__button--show,
.manage-reset__button--show {

    height: 8rem;
    border-bottom-left-radius: .1rem;
    border-bottom-right-radius: .1rem;

   
}

.manage-item__delete-text {

    text-align: center;
    color: $active-icon-color;
}



.manage-total-desktop p {

    margin-bottom: 0rem;
}

.manage-items-container--no-items {

    justify-content: center;
}
.manage-no-items-message p {

    text-align: center;
}

.manage-no-item-icon {

    color: #fff;
    font-size: 1rem;
    margin-bottom: 1rem;
    @include desktop {

        margin-bottom: 2rem;
        font-size: 2rem;
    }
    
}

.manage-item__column--center {

    align-items: center;
}

.manage-success {

    width: 17rem;
    @include desktop {

        width: 20rem;
    }
}

// ----------------- MEDIA QUERY SHOW/HIDE ELEMENTS ------------------------ //

.steps-icon {

    //@include steps-icon-container;

    display: flex;
    
}

.steps-icon__icon {

    @include steps-icons;

    @include desktop {

        font-size: 2rem;

    }

}

.manage-total-mobile {

    @include flex_row;

    @include desktop {

        display: none;
    }

}

.manage-total-desktop {

    display: none;
    @include desktop {

        display: flex;
    }

}

// -----------------------JOBS/CYCLES PAGE STYLES------------------//

.form-reset-container {

    margin-top: 1rem;
}