
// MANAGE CLIENTS, MANAGE JOBS AND MANAGE CYCLES STYLES //

/*.clients-bg-color {

    background-color:$login-green;
}*/


.manage-heading {

    margin-bottom: 0rem;

    @include desktop {

        margin-top: .5rem;
    }
}

.manage-text {

    margin-bottom: 0.8rem;
}

.manage-container {

    position: relative;
    top: 4rem;
    min-height: calc(100% - 4rem);
    @include flex-column;

    @include desktop {

        top:2rem;
        height: 44rem;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.manage-form-container {

    @include flex_column;
    
}

.manage-form {

    @include flex-column;
    background-color: $register-icon-color;
    border-radius: .3rem;
    padding: .5rem 0 0rem 0;
        
}

.manage-form input {

    margin-left: .5rem;
    margin-right: .5rem;

    @include desktop {

        width: 20rem;
    }
}

.manage-form p {

    margin-top: .5rem;
}

.manage-form__button {

    
    @include login-button-mobile;
    background-color: $login_bg_color;
    margin-bottom: 1rem;
    cursor: pointer;

    @include tablet {

        height: 2.1rem;
    }
}


.manage-items-hr {

    @include hr-cycles;
    margin: 0rem 0 0rem 0;
    color:#fff3;
}

.manage-hr {

    @include hr-cycles;
    margin: .5rem 0 .5rem 0;

}

.manage-hr--added-margin {

    margin-bottom: 2.5rem;
    @include desktop {

        margin-bottom: 0rem;
    }
}
// MANAGE ITEM STYLES // 

.manage-items-container {

    @include flex-column;
    justify-content: flex-start;
    width: 18.6rem;

    @include desktop {

        height: 30rem;
        overflow: scroll;
        width: 25rem;
        padding: 2rem;
        border: 1px solid $hr-items-color;
        border-radius: .3rem;
    }
}

.manage-item-container {

    @include flex-column;
    align-items: center;
    background-color: $register-icon-color;
    width: 100%;
    border-radius: .3rem;
    margin: $item-card-margin;
   
}

.manage-item__row {

    @include flex_row;
    justify-content: flex-start;
    width: 90%;
}

.manage-item__row--center {

    justify-content: center;
   
}

.manage-item__column {

    @include flex-column;
    align-items: flex-start;
    overflow: hidden;
    //align-items: flex-start;
    
}

.manage-item__column p {

    margin: $item-card-text-margin;
}

.manage-button {

    @include flex_row;
    width:100%;
    padding-bottom: 1rem;
}
.manage-button__button {

    @include login-button-mobile;
    width: 7rem;
    background-color: $login_bg_color;
    cursor: pointer;

    @include desktop {

        width: 11rem;
    }
    
}

#manage-items__text-top {

    margin-top: 0.5rem;
}

.manage-item__button-column {

    width: 50%;
    
}

.manage-button__button--delete-color {

    background-color: $cancelled-color;
    transition: background-color .3s $drop-down-bezier;
}



// SHOW / HIDE DELETE BUTTON STYLES //

.manage-delete__button--hide {

    height: 0;
    overflow: hidden; 
    transition: height .3s $drop-down-bezier;
    background-color: $manage-item-delete-show-color;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem;

    @include desktop {

        padding-left: 20px;
        padding-right: 20px;
    }
  
}

.manage-delete__button--show {

    height: 8rem;
   
}

.manage-item__delete-text {

    color: $active-icon-color;
}

.manage-button__button--delete-click {

    background-color: $pending-color;
}


.manage-total-desktop p {

    margin-bottom: 0rem;
}

.manage-no-item-container{

    
}
.manage-no-items-message p {

    text-align: center;
}

.manage-no-item-icon {

    color: #fff;
    font-size: 1rem;
    @include desktop {

        font-size: 2rem;
    }
    
}

.manage-item__column--center {

    align-items: center;
}
// ----------------- MEDIA QUERY SHOW/HIDE ELEMENTS ------------------------ //

.steps-icon {

    @include steps-icon-container;

    @include desktop {

        display: flex;
    }
}

.steps-icon__icon {

    @include steps-icons;

    @include desktop {

        font-size: 2rem;

    }

}

.manage-total-mobile {

    @include flex_row;

    @include desktop {

        display: none;
    }

}

.manage-total-desktop {

    display: none;
    @include desktop {

        display: flex;
    }

}