// PAYMENT STYLES //

.payment-container {

    @include flex-column;
   // position: relative;

}


.payment-icon {

    @include steps-icons;
    color: $nav-icons;

    @include tablet {

        font-size: 2rem;
    }

}

.payment-heading-container {

    @include flex-column;
    max-width: 19rem;

    @include desktop {

        max-width: 39rem;
    }
}

.payment-heading {

    margin: .5rem;

}

.payment-text {

    //width: 17rem;
    flex: 1 1 auto;
    text-align: center;
    //word-wrap: break-word;
    margin: .25rem;

    @include desktop {

        //width: 21rem;
    }
}

.payment-bg-color {

    background-color: $login_bg_color;
}

.payment-form {

   
    //background-color: $nav-icons;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: .5rem;
    
    
    @include desktop {

        flex-direction: row;
        align-items: flex-start;
        margin-top: 1rem;
      
    }

}

.payment-form-pay-container {

    @include flex-column;
}

.payment-form__details,
.payment-form__pay {

    @include flex-column;
    width: 18.6rem;
    border-radius: .3rem;
    background-color: $nav-icons;
    padding-top: .8rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;

    @include tablet {

        width: 21.6rem;
    }

    @include desktop {

        margin: 0 2rem 0 2rem;
        width: 21.6rem;
    }
}

.payment-form__input {

    @include login-form-mobile;

    @include tablet {

        @include login-form-desktop-media-query;
    }

}

.payment-form__button {

    @include login-button-mobile;
    background-color: $login-green;
    margin-bottom: .5rem;

    @include tablet {

        @include login-button-desktop-media-query;
    }
}

.payment-form__button:hover {

    cursor: pointer;
}

.payment-form__select {

    @extend .profile-filter-styled;
    background-color: #fff;
    margin: 0rem 0rem 0rem 0rem;
    
}

.payment-form__select select {

    @extend .profile__select;
    color: $nav-icons;
}

.payment-form-select__icon {

    @extend .profile-filter-arrow;
    color: $nav-icons;
}

.payment-error {

    color: $login-error-red;
    text-align: center;
    width: 100%;
    
}

#credit-card-errors {

    margin-top: 1rem;
}

.payment-success {

    @include flex-row;
}
.payment-success p {

    flex: 1 1 auto;
    margin-top: 1rem;
    //color: $nav-icons;
}

.payment-link-container {

    @include flex-row;
    @include register-login-button-desktop;
    background-color: $nav-icons;
   
}

.payment-cycles-link {

    @include flex-row;
    height: 100%;
    width: 100%;
    //background-color: $nav-icons;
}


.payment-success__icon {

    font-size: 3rem;
    color: $nav-icons;
}
