// -------------- PORTHOLE TEMPLATE STYLES ------------------- //
.porthole-bg-color {

    background-color: $login_bg_color;
}

.all-steps-container {

    background-color: $login-green;
    width:100%;

    @include desktop {

        display: flex;
        align-items: flex-start;
        height: 100vh;
    }
}


.porthole-container {

    @extend .manage-container;
    padding-bottom: 0rem;
    
    @include tablet {

        top: 6rem;
    }

    @include desktop {

        flex-direction:column;
    }
}

.porthole-details-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 6rem);

    @include tablet {

        justify-content: center;
        position: relative;
       // top: -6rem;
    }

    /*@include desktop {

        display: none;
    }*/
}

.porthole-icon {

    @extend .steps-icon;
}

.porthole-icon__icon {

    @extend .steps-icon__icon;
    color: $login-green;
}

.porthole-heading {

    color:  $login-green;
    text-align: center;
    //margin-top: 2rem;
    
}

.porthole-blurb {

    word-wrap: break-word;
    width: 17rem;
    text-align: center;
}

.porthole-upload-heading {

    margin: 2rem 0 2rem 0;
    color: #1e3038;
}

.porthole-details__text {

    color: $nav-icons;
   
}

.porthole-details__text {

    word-wrap: break-word;
    width: 100%;
}

.porthole-nav {

    background-color: $login-green;
}


.porthole-details {

    //@extend .manage-form;
    display: flex;
    flex-direction: column;
    width: 18.6rem;
    border-radius: .3rem;
    background-color: $login-green;
    margin-bottom: 4rem;

    @include tablet {

        height: 32rem;
        width: 25rem;
    }

}

.porthole-details__row {

    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    position: relative;
    left: 5%;

    @include tablet {

        flex-grow: 1;
    }
}

.porthole-details__column {

    display: flex;
    flex-direction: column;
    justify-content: center;
    //align-items: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;

}

.porthole-details-hr {

    @extend .manage-items-hr;
    color: $porthole-items-hr-color;

   
}

.steps-hr {

    @include desktop {

        display: none;
    }

}
.uploaded-icon__icon {

    background: url('../img/Fileo_White_33precent.png');
    height: 102px;
    width: 91px;
    background-repeat: no-repeat;
    margin-top: 1rem;

}

// ---------------- UPLOAD STYLES -------------------------- //

.file-container {

    @include flex-column;
    background-color: $login-green;
    width: 100%;
    //margin-bottom: 1rem;

    //@include desktop {

    margin: 10rem 2rem 0 2rem;

    //}
}

.file-container--padding {

    padding-bottom: 3rem;
}


.upload-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e3038;
    border-radius: .3rem;
    //width: 18.6rem;

    //@include desktop {

    min-height: 435px;
    width: 21.6rem;
    //}
    
}

.dummy-approval {

    height: 2.6rem;
   // margin-bottom: 0.5rem;
}

// DYNAMIC CLASS ONLY ADDED WHEN FILE APPROVED
.quote-upload-container--margin {

    margin-bottom: 2rem;

}



.uploaded-icon {

    @include flex_column;
    //position: relative;
    width: 90%;
    min-height: 209px;
    margin: 0 1rem 1rem 1rem;
    background-color: #3a5864;
    border-radius: .3rem;
}

/*.uploaded-icon--extra-margin {

    margin-bottom: 1.5rem;
    margin-top: 2.8rem;
}

.upload-po--extra-margin {

    margin-top: 2.8rem;
}

.upload-invoice--extra-margin {

    margin-top: 3.4rem;

}

/*.uploaded-icon-invoice {

    //@include desktop {

        margin-bottom: 4.6rem;
   // }
}*/


.no-file-icon {

    color: #fff;
}


.upload-form {

    @include flex-column;
   
}

.upload-form-no-value {

    margin-top: 3.4rem;

}

.upload-form__button {

    @extend .manage-form__button;
    background-color: $login-green;
    margin: .5rem 0 1.4rem 0;
}

.upload-form__browse-button {

    @include login-button-mobile;
    background-color: $login_bg_color;
    margin: .5rem 0 .8rem 0;

    @include desktop {

        @include login-button-desktop-media-query;
    }
   
}

.upload-form__browse-button:hover {

  cursor: pointer;
}

.upload-form p {

    margin: .5rem 0 .8rem 0;
    width:17rem;

    @include desktop {

        @include flex_row;
        width: 20.1rem;

    }
}

.upload-form p input {

    @include login-form-mobile;

    @include tablet {

        @include login-form-desktop-media-query;
    }
}

.file-action {

    @include flex_column;
}

.file-action a {

    transition: color .3s $drop-down-bezier;
}

.file-action a:hover {

    cursor: pointer;
    color: $login-signup-color;
}

.uploaded-icon__file-name {

    margin-top: 1rem;
    text-align: center;
}

.file-approval {

    //background-color: $nav-icons;
    width: 18.6rem;
    border-radius: .3rem;
    //margin-bottom: 2rem;
    //margin-top: 3.6rem;
    @include flex-column;
    margin-bottom: .4rem;
    margin-top: 3.1rem;
    

}



.file-approval ul li {

    color: #fff;
    display: inline;
}

.file-approval ul li label {

    font-size: .8rem;
}


.file-approval ul {

    //@include flex_row;
   
    padding-left: 0rem;
    
    background-color: $login_bg_color;
    @include login-button-mobile;
    margin-bottom: 0rem;
    margin-top: 0rem;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
   // width:100%;

    @include tablet {

        @include login-button-desktop-media-query;
    }

}

.file-approval__button {

    @extend .upload-form__browse-button;
    background-color: $login-green;
}

.porthole-status,
.porthole-status i {

    //color: $nav-icons;
    margin: 0.4rem .4rem;
}

.porthole-success {

    margin-top: .5rem;
    color: $nav-icons;
}

.porthole-error {

    color: $login-error-red;
    width: 17rem;
}

.upload-step-congrats {

    //margin-top: 1rem;
    @include flex-column;
    width: 17rem;

    @include tablet {

        width: 20.1rem;
    }
}

.upload-step-congrats p i {

    font-size: 2rem;
}

.upload-step-congrats p {


    text-align: center;
}

.payment-pending {

    @include flex_column;
    margin-bottom: 2rem;

}

.payment-pending__form {

    @include flex_column;
}

.payment-pending__button {

    @include login-button-mobile;
    background-color: $login-green;


    @include tablet {

        
        @include login-button-desktop-media-query;
        margin-top: 1rem;
    }

}

.payment-pending__button:hover {

    cursor: pointer;

}

.payment-pending p {

    width: 18.6rem;
    word-wrap: break-word;
    text-align: center;
}

// -------------- HIDE/SHOW PORTHOLE DETAILS MEDIA QUERY ------------------- //


