// -------------- PORTHOLE TEMPLATE STYLES ------------------- //

.porthole-bg-color {

    background-color: $login_green;
}

.porthole-container {

    position: relative;
    top: 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;

    @include desktop {

        
    }

}


.all-steps-container {

    @include desktop {

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 6rem;
        width: 100%;
    
    }


}

.porthole-details-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    @include mobile {

        width: 25rem;
    }

    @include desktop {

        width: 100%;
    }

}



.porthole-details__heading {

    color: $nav-icons;
    margin-bottom: 0rem;

    @include desktop {

        margin-top: 0rem;
    }

}

.porthole-nav {

    background-color: $login-green;
}

.porthole-details__text {

    color: $nav-icons;
    word-wrap: break-word;
    width: 100%;
   
}

.porthole-details__date i {

    color: $nav-icons;
}

.porthole-details__date {

    color: $nav-icons;
    margin-right: .5rem;
}


.porthole-details__row {

    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 80%;

    @include tablet {

        width: 90%;
    }
    @include large {

        width: 80%;
    }

}

.porthole-details__column {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    margin-right: .5rem;

}

.porthole-details--description {

    max-width: 17rem;

    @include desktop {

        max-width: 22rem;
    }
    @include large {

        max-width: 35rem;
   
    }
    

}

.porthole-details__hr {

    @extend .manage-items-hr;
    color: $porthole-items-hr-color;

   
}

.steps-hr {

    @include desktop {

        display: none;
    }

}

.uploaded-icon__icon {

    background: url('../img/Fileo_White_33precent.png');
    height: 102px;
    width: 91px;
    background-repeat: no-repeat;
    margin-top: 1rem;

}

// ---------------- UPLOAD STYLES -------------------------- //

.porthole-upload-heading {

    margin: 2rem 0 2rem 0;
    color: #1e3038;
}

.file-container {

    @include flex-column;
    background-color: $login-green;
    width: 100%;

    @include desktop {
        
        margin: 0rem 2rem 0 2rem;

    }

}

.invoice-file-container--padding {

    margin-bottom: 3rem;

    @include desktop {

        margin-bottom: 0;
    }
}

.upload-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e3038;
    border-radius: .3rem;
    width: 18.6rem;
    min-height: 435px;

    @include tablet {

        width: 16.6rem;

    }

    @include large {

        width: 21.6rem;
    }
    
}

.dummy-approval {

    height: 2.6rem;
 
}

// DYNAMIC CLASS ONLY ADDED WHEN FILE APPROVED //

.quote-upload-container--margin {

    margin-bottom: 2rem;

}

.uploaded-icon {

    @include flex_column;
    width: 90%;
    min-height: 209px;
    margin: 0 1rem 1rem 1rem;
    background-color: #3a5864;
    border-radius: .3rem;
}


.no-file-icon {

    color: #fff;
}


.upload-form {

    @include flex-column;
   
}

.upload-form-no-value {

    margin-top: 3.4rem;

}

.upload-form__button {

    @include login-button-mobile;
    background-color: $login-green;
    margin-bottom: .8rem;

    @include tablet {

        width: 15.6rem;
        height: 2.1rem;
    }

    @include large {

        @include login-button-desktop-media-query;
    }
   
}

.upload-form__browse-button {

    @include login-button-mobile;
    background-color: $login_bg_color;
    margin: .5rem 0 .8rem 0;


    @include tablet {

        width: 15.6rem;
        height: 2.1rem;
    }

    @include large {

        @include login-button-desktop-media-query;
    }
   
}

.upload-form__browse-button:hover,
.upload-form__button:hover {

  cursor: pointer;
}

.upload-form p {

    margin: .5rem 0 .8rem 0;

    @include desktop {

        @include flex_row;
        width: 20.1rem;

    }
}

.upload-form p input {

    @include login-form-mobile;

    @include tablet {

        width: 15rem;
        height: 1.5rem;
    }

    @include large {

        @include login-form-desktop-media-query;
    }
}

.file-action {

    @include flex_column;
    margin-bottom: 0;
}

.file-action a {

    transition: color .3s $drop-down-bezier;
}

.file-action a:hover {

    cursor: pointer;
    color: $login-signup-color;
}

.uploaded-icon__file-name {

    margin-top: 1rem;
    text-align: center;
}

.file-approval {

    width: 18.6rem;
    border-radius: .3rem;
    @include flex-column;
    margin-bottom: .4rem;
    margin-top: 3.1rem;
    
}

.file-approval__form {

    @include tablet {
        
        width: 15.6rem;

    }

    @include large {

        width: 20.1rem;
    }
}

.file-approval ul li {

    color: #fff;
    display: inline;
}

.file-approval ul li label {

    font-size: .8rem;
}


.file-approval ul {
   
    padding-left: 0rem;
    background-color: $login_bg_color;
    @include login-button-mobile;
    margin-bottom: 0rem;
    margin-top: 0rem;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;

    @include tablet {   

        height:2.1rem;
        width: 15.6rem;
    }
    
    @include large {

        @include login-button-desktop-media-query;
    }

}

.file-approval__button {

    @include login-button-mobile;
    background-color: $login-green;

    @include tablet {

        height: 2.1rem;
        width: 100%;
    }
}

.file-approval__button:hover {

    cursor: pointer;
}

.porthole-status,
.porthole-status i {

    margin: 0.4rem .4rem;
}

.porthole-success {

    margin-top: .5rem;
    color: $nav-icons;
}

.porthole-error {

    width: 14rem;
    text-align: center;
    color: $login-error-red;

    @include desktop {

        width: 15rem;
    }
    
}

.upload-step-congrats {

    @include flex-column;
    width: 17rem;

    @include tablet {

        width: 20.1rem;
    }
}

.upload-step-congrats p i {

    font-size: 2rem;
}

.upload-step-congrats p {


    text-align: center;
}

.payment-pending {

    @include flex_column;
    margin-bottom: 2rem;

}

.payment-pending__form {

    @include flex_column;
}

.payment-pending__button {

    @include login-button-mobile;
    background-color: $login-green;


    @include tablet {

        width: 15.6rem;
        height: 2.1rem;
        margin-top: 1rem;
    }

    @include large {

        @include login-button-desktop-media-query;
    }

}

.payment-pending__button:hover {

    cursor: pointer;

}

.payment-pending p {

    width: 18.6rem;
    word-wrap: break-word;
    text-align: center;
}

// -------------- HIDE/SHOW PORTHOLE DETAILS MEDIA QUERIES ------------------- //


.porthole-details-container-mobile,
.upload-step-congrats-mobile {

    @include desktop {

        display: none;
    }
}

.porthole-details-container-desktop,
.upload-step-congrats-desktop {

    display: none;

    @include desktop {

        display: flex;

    }
}

