// PROFILE TEMPLATE STYLES //

/*.profile-bg-color {

    background-color: $login-green;
}*/

.profile-container {

    @include flex_column;
    position: relative;
    top: 4rem;
    //min-height: calc(100% - 4rem);

    @include tablet {

        //min-height: calc(100% - 6rem);
    }
    
}

.profile-title {

    @include tablet {

        margin: .5rem 0 .5rem 0;
    }

    @include large {

        margin: 1rem 0 1rem 0;

    }
    
}

.profile-text {

    margin-top:0rem;
    width: 18rem;
    text-align: center;
}

.profile-icon {

    @include steps-icon-container;


    @include tablet {

        margin-top: 1rem;
        display:block;
    }

  
}

.profile-icon__icon {

    @include steps-icons;
    
    @include tablet {

        margin-top: 1rem;
        display:block;
    }
}


.profile-container form {

    @include flex_column;
    background-color: $register-icon-color;
    border-radius: .3rem;
    padding: .5rem 0 1rem 0;

    @include tablet {

        width: 26rem;
        padding: 1rem 0 1.5rem 0;

    }


}

.profile-container form p {

    margin-top: 0.5rem;
}

.profile-form__input {

    color: $login_bg_color;
    
    @include login-form-mobile;
    
        @include tablet {
    
            @include login-form-desktop-media-query;
        }
    
}

.profile-filter-styled {

    @include select-boxes;
    @include flex_row;
    width: 17.6rem;
    background-color: $active-icon-color;
    margin-bottom: .8rem;
    @include tablet {

        height: 2.1rem;
        width: 20.1rem;
    } 
}

.profile__select {

    //@extend .cycles-search__select;
    width:100%;
    height:100%;
    text-align: left;
    font-size: .8rem;
    padding-left: .3rem;
    color: #fff;
    
}

.profile-filter-arrow {

    @include select-arrows;
    @include flex-row;
}

.profile-form__button {

    @include login-button-mobile;
    background-color: $login_bg_color;
    cursor: pointer;
   

    @include tablet {

       @include login-button-desktop-media-query;
    }
}

.generic-success-dummy {

    height: 16.75px;
    margin: 12.8px 0 12.8px 0;
}



.generic-success i {

    font-size: 1rem;
}

.generic-success {
    
    text-align: center;
}
.file-action p {

    margin: .5rem 0 0 0;
}

.file-action {

    height: 72.35px;
    margin-bottom: 1rem;
}