// REGISTER PAGE //

.register-body--color {

    background-repeat: no-repeat;
    background-color: $register-bg-color;

}

/*.register--bg-color {
    
    
}*/

.register-header {

    display: flex;
    align-items: center;
    position: relative;
    top: 0;
    height: 4rem;
    background-color: $register-bg-color;
    position: relative;
    width:100%;

    @include tablet {

        height: 6rem;
    }
}

.register-header__logo--position {

    position: relative;
    left: 50%;
    transform: translateX(-50%);

}

.register-login {

    @include register-login-button-mobile;
    position: absolute;
    right: 1.5rem;
    //@include flex_column;
    background-color: $register-icon-color;

    @include tablet {

        @include register-login-button-desktop;
        right: 2.5rem;
    }
}

.register-login__link {

    @include flex_column;
    //text-align: center;
    color: #fff;
    height: 100%;
    width: 100%;
    font-size: .8rem;
}

.register-heading {

    color: #fff;
    margin-bottom: 0;
    margin-top: 0;

    @include tablet {

        margin: 1rem 1rem 0rem 1rem;
    }
}

.register-container {

    @include flex_column;
    justify-content: center;
    min-height: calc(100% - 6rem);
    width: 100%;
    position: relative;
    
    //top: 0rem;
    //top: 4rem;

    @include tablet {

        min-height: calc(100% - 8rem);
       
    }


}

.register-icon__icon {

    color: $register-icon-color;
    font-size: 2rem;

    @include tablet {

        font-size: 4rem;

    }
}

.register-form {

    @include flex_column;
}

.register-form__first-name,
.register-form__last-name,
.register-form__username,
.register-form__email,
.register-form__password1,
.register-form__password2 {

    @include register-form-mobile;

    @include tablet {

        @include register-form-desktop-media-query;
    }
}

.register-form__button {

    @include register-button-mobile;
    background-color: $login_bg_color;
    margin-top: 0rem;
    //margin-bottom: 2rem;
}

.register-form__button:hover {

    cursor:pointer;
}

.banner {

    @include flex_row;
    width: 100%;
    height: 2rem;
    background-color: $login-bg-color;
    position: relative;
    //top: calc(100% - 2rem);
}

.banner__text {

    margin: 0;
    text-align: center;
    color: #fff;
    font-size: .8rem;
}

// EXPLAIN SECTION //
.explain-container { 

    min-height: 100%;
    width: 100%;
   
    @include flex_column;
}


.explain-container--relative {

    position: relative;

}


.explain-container--color {

    background-color:$login_bg_color;

}
.explain-heading {

    color: #fff;
}

// STEP ONE SECTION //

.step-one-container {

    @extend .explain-container;
    position: relative;
    top: 100%;
}

.step-one-container h2,
.step-two-container h2,
.step-three-container h2 {

    position: absolute;
    top: 2rem;
    color: #fff;
    font-size: 2.5rem;
    margin: 0 ;
}

.step-one-container--color {

    background-color:$login_green;

}

.step-one,
.step-two,
.step-three {

    @include flex_column;
    
}

.step-one p,
.step-two p,
 {

    color: #fff;
    font-size: 1.1rem;
    
}

.step-three p {

    color: #fff;
    font-size: 1.2rem;
    text-align: center;

}

.step-one__clients-icon,
.step-one__job-icon,
.step-one__cycle-icon,
.step-two__cloud-icon,
.step-two__thumbs-up-icon,
.step-two__chart-icon
 {

    color: $register-explain-icons;
    font-size: 2.5rem;
    margin: 0rem;

    @include tablet {

        font-size: 3.5rem;
        margin: 1rem;
    }
}

.step-three__card-icon {

    color: $register-explain-icons;
    font-size: 4.5rem;
    margin: 1rem;
}

// STEP TWO SECTION //

.step-two-container {

    @extend .explain-container;
    position: relative;
    top: 200%;

    //color: #fff; 
}

.step-two-container--color {

    background-color:$login_green;

}


// STEP THREE SECTION //

.step-three-container {

    @extend .explain-container;
    position: relative;
    top: 300%;

    //color: #fff; 
}

.step-three-container--color {

    background-color:$login_green;

}

// FIXED CONTAINERS //

.container--fixed {

    position: fixed;
    top: 0;
}

.container--fixed-100 {

    top: 100%;
    transition: top .4s cubic-bezier(0,.8,.53,1);
}

// SUCCESSFUL REGISTRATION MESSAGE //

.register-success {

    @include flex_column;
    margin-top: 1rem;
}

.register-success__message {

    color: $register-text;
    font-size:.8rem;
    //margin-bottom: .5rem;
    margin: 0rem;
}

.register-success__message-container {

    @include flex_row;
    margin-bottom: .5rem;
}



.register-success__message-container div i {

    font-size: 1.5rem;
    margin-right: 0.5rem;
    color: $register-text;
}


.register-success__login {

    @include register-login-button-mobile;
    background-color: #fff;
    margin-bottom: 1rem;

    @include tablet {

        @include register-login-button-desktop;
    }
}
.register-success__login-link {

    height: 100%;
    width: 100%;
    color: $register-text;
    @include flex_row;
    font-size: .8rem; 
}

.dummy-register-success-div {

    height: 81.4px;
}