<p>Hi {{ recipient_name }}.</p>
<br>
{% if is_quote %}
<p>{{ sender_name }} from {{ member_company }} has uploaded a new Quote for you to review.</p>
{% elif is_po %}
<p>{{ sender_name }} from {{ member_company }} has uploaded a new Purchase Order for you to review.</p>
{% elif is_invoice %}
<p>{{ sender_name }} from {{ member_company }} has uploaded a new Invoice for you to review.</p>
{% endif %}
<br>
<p>Fileo Cycle Details:</p>
<br>
<p>Fileo Cycle ID: {{ cycle.id }}</p>
<p>Job Name: {{ job.job_title }}</p>
<p>Job Number: {{ job.job_number }}</p>
<br>
{% if is_quote %}
<p>Please login and navigate to the Cycle Porthole to approve your Quote.</p>
{% elif is_po %}
<p>Please login and navigate to the Cycle Porthole to approve your Purchase Order.</p>
{% elif is_invoice %}
<p>Please login and navigate to the Cycle Porthole to approve your Invoice.</p>
{% endif %}
<br>
<p></p>Follow the link www.fileo.co.uk to login.
<br>
<p>Regards,</p>
<br>
<p>The Fileo Team.</p>

