<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fileo</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% block head_js %}
    {% endblock head_js %}
</head>
<body>            
    <nav>       
    {% if user.is_authenticated %}
        <ul>
            <a href="{% url 'logout' %}">Logout</a>
        </ul>
    {% else %}
        <ul>
            <a href="{% url 'register' %}">Register</a>
        </ul>
    {% endif %}
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>