<footer>
   <div class="footer-row">
       <div class="footer-column">
           <h5>Company</h5>
           <p>Contact</p>
           <p>Privacy</p>
           <p>Terms of Use</p>
       </div>
       <div class="footer-column">
            <h5>Support</h5>
            <p>FAQ</p>
            <p>Help</p>
            <p>Troubleshoot</p>
       </div>
   </div>
   <div class="footer-row">
        <div class="footer-column">
            <p><i class="far fa-copyright"></i> Fileo Ltd.</p>
        </div>
        <div class="footer-column">
            <p><i class="fab fa-twitter-square"></i></p>
            <p><i class="fab fa-facebook-square"></i></p>
            <p><i class="fab fa-linkedin"></i></p>
        </div>
   </div>

</footer>