<footer>
   <div class="footer-row">
        <div class="footer-column">
            <h5>Address</h5>
            <p>Fileo Ltd</p>
            <p>12</p>
            <p>King Street</p>
            <p>London</p>
            <p>TW1 3TN</p>
        </div>
       <div class="footer-column">
           <h5>Company</h5>
           <a href="mailto:teamfileo@gmail.com"><p>Contact</p></a>
           <a href="#"><p>Privacy Policy</p></a>
           <a href="#"><p>Terms of Use</p></a>
       </div>
       <div class="footer-column">
            <h5>Support</h5>
            <a href="#"><p>FAQ</p></a>
            <a href="#"><p>Help</p></a>
            <a href="#"><p>Troubleshoot</p></a>
       </div>
   </div>
   <div class="footer-base">
        <div class="footer-row">
                <div class="footer-column footer-base__icons">
                    <p><a href="#"><i class="fab fa-twitter-square"></i></a></p>
                    <p><a href="#"><i class="fab fa-facebook-square"></i></a></p>
                    <p><a href="#"><i class="fab fa-linkedin"></i></a></p>
                </div>
        </div>
        <div class="footer-row">
            <div class="footer-column">
                <p class="footer-base__copyright-text"><i class="far fa-copyright"></i> Copyright 2018 Fileo Ltd. All Rights Reserved. Fileo is a trading name of Fileo Limited which is yet to be registered at Company House.</p>
            </div>
        </div>
    </div>
</footer>