<!-- MAIN HEADER PARTIAL -->
<header class="main-header">
    <nav id="nav" class="main-header__nav">
        <a href="{% url 'index' %}"><div class="main-header__logo" alt="Fileo Logo"></div></a>
        {% if user.is_member %}
        <ul class="nav">
            <li><a href="{% url 'manage_clients' username=user.username %}"><i id="nav-clients" class="fas fa-user-plus nav__icons" aria-hidden="true"></i></a></li>
            <li><a href="{% url 'manage_jobs' username=user.username %}"><i id="nav-jobs" class="fas fa-briefcase nav__icons" aria-hidden="true"></i></a> </li>
            <li><a href="{% url 'manage_cycles' username=user.username %}"><i id="nav-cycles" class="far fa-circle nav__icons" aria-hidden="true"></i></a></li>
        </ul>
        {% endif %}
        <ul id="drop-down-icon" class="more">
            <li><i class="fas fa-circle more__icon" aria-hidden="true"></i></li>
            <li><i class="fas fa-circle more__icon" aria-hidden="true"></i></li>
            <li><i class="fas fa-circle more__icon" aria-hidden="true"></i></li>
        </ul>
    </nav>
    <div id="drop-down-menu" class="main-header__dropdown">
        <ul>
            {% if user.is_member %}
                <li class="main-header__dropdown-item"><a href="{% url 'member_profile' username=user.username %}">Profile</i></a></li>
            {% endif %}
            <li class="main-header__dropdown-item"><a href="{% url 'index' %}">Cycles</a></li>
            <li id="last-dropdown-item"class="main-header__dropdown-item"><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </div>
</header>
<div id="header-banner" class="header-banner">
    <ul>
        <li><i class="fas fas fa-check-circle" aria-hidden="true"></i><span>Complete: <strong>£{{ request.session.complete }}</strong></span></li>
        <li><i class="far fa-clock" aria-hidden="true"></i><span>Pending: <strong>£{{ request.session.pending }}</strong></span></li>
        <li><i class="fas fa-walking" aria-hidden="true"></i><span>Active: <strong>£{{ request.session.active }}</strong></span></li>
        <li><i class="fas fas fa-ban" aria-hidden="true"></i><span>Cancelled: <strong>£{{ request.session.cancelled }}</strong></span></li>
    </ul>
</div>