//BUTTONS//
@import '../helpers/fonts';
@import '../helpers/colors';


// SIGN UP BUTTON //
@mixin signup-button {

    border-radius: .2rem;
    height: 2rem;
    background-color: #fff;
    width: 5rem;
    
}

// LOGIN BUTTON //

@mixin login-button-mobile {

    height: 1.8rem;
    border: none;
    width: 17.5rem;
    border-radius: .3rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    background-color: $login-green;
    color: #fff;
}

@mixin login-button-desktop-media-query {

    height: 2.1rem;
}