//BUTTONS//
@import '../helpers/fonts';
@import '../helpers/colors';


// LOGIN BUTTON //

@mixin login-button-mobile {

    height: 1.8rem;
    border: none;
    width: 17.5rem;
    border-radius: .3rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #fff;
}

@mixin login-button-desktop-media-query {

    height: 2.1rem;
}

// REGISTER PAGE REGISTER BUTTON //

@mixin register-button-mobile {

    @include login-button-mobile;
}


// REGISTER PAGE LOGIN BUTTON //

@mixin register-login-button-mobile {

    border-radius: .2rem;
    height: 1.5rem;
    //background-color: #fff;
    width: 3rem;
    
}

@mixin register-login-button-desktop {

    border-radius: .2rem;
    height: 2rem;
    //background-color: #fff;
    width: 5rem;
    
}