
// CUSTOM STYLED SELECT BOX //
@mixin cycle-select-boxes {

    height: 1.6rem;
    
    border-radius: .2rem;
    text-align: center;
    width: 7rem;
    margin: .5rem;
    margin-top: 0;
    
}

// CUSTOM STYLED SELECT BOX ARROW  //
@mixin cycle-select-arrows {

    color: #fff;
    height: 100%;
    position: relative;
    right: .5rem;
    padding-left: .5rem;
    border-left: 1px solid #bbbdbee6;


}