
// CUSTOM STYLED SELECT BOX //
@mixin select-boxes {

    height: 1.6rem;
    border-radius: .3rem;
    width: 7rem;
    margin: .5rem;
    margin-top: 0;
    flex-grow:1;
    background-color: $register-icon-color;
    
}

// CUSTOM STYLED SELECT BOX ARROW  //
@mixin select-arrows {

    color: #fff;
    height: 100%;
    position: relative;
    right: .5rem;
    padding-left: .5rem;

}

// HR CYCLES //
@mixin hr-cycles {

    color: #337f784d;
    margin: 1rem 0 1rem 0;
    width: calc(100% - 2.232px); 
}