footer {
    display: flex; 
    flex-direction: column;
    position: relative;
    background-color: #759f9b;
    width: 100%;
    margin-top: 5rem;
}

.footer-row {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 1;
    flex-wrap: wrap;
}

.footer-column h5,
.footer-column a p,
.footer-column p {

    color: $footer-icons;
}

.footer-base__copyright-text {

    font-size: .7rem;
    text-align: center;
    margin-bottom: 1rem;
    color: $footer-icons;
}

.footer-base__icons {

    display: flex;
    flex-direction: row;
    justify-content: center;
    
   
}

.footer-base__icons p { 

    margin: 1rem 0.5rem 0 0.5rem;
    
}

.footer-base__icons p i {

    font-size: 1rem;
    color: $footer-icons;
}


.footer-base {

    margin-top: .8rem;
    background-color: $footer-base;
}