footer {
    display: flex; 
    flex-direction: column;
    position: relative;
    background-color: $login_bg_color;//#fff;//#759f9b;
    width: 100%;
    margin-top: 5rem;
}

/*.footer--payment-background-color {

    background-color: $login-green;
}*/

.footer-row {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 1;
    flex-wrap: wrap;
}

.footer-column h5,
.footer-column a p,
.footer-column p {

    color: #fff //$footer-icons;
}

.footer-base__copyright-text {

    font-size: .7rem;
    text-align: center;
    margin-bottom: 1.5rem;
    color: #fff;// $footer-icons;
}

.footer-base__icons {

    display: flex;
    flex-direction: row;
    justify-content: center;
    
   
}

.footer-base__icons p { 

    margin: 1rem 0.5rem 0 0.5rem;
    
}

.footer-base__icons p i {

    font-size: 1rem;
    color: #fff;//$footer-icons;
}


.footer-base {

    margin-top: .8rem;
    //background-color: $login_bg_color;//$footer-base;
}

.footer-hr {

    color: rgba(0,0,0,.1);
}