// FORM ERRORS GLOBAL STYLING // 

.errorlist{

    padding-left: 0;
}

.errorlist li {

    color: $login-error-red;
    font-family: $text-font;
    font-size: .8rem;
    text-align: center;

}

// LOGIN FORM //

@mixin login-form-mobile {

    height: 1rem;
    width: 17rem;
    border-radius: .3rem;
    padding: .3rem;
    font-size: .8rem;
    margin-top: 0rem;
}

@mixin login-form-desktop-media-query {

    height: 1.5rem;
    font-size: 1rem;
    
}

// REGISTER FORM //

@mixin register-form-mobile {

    @include login-form-mobile;
}

@mixin register-form-desktop-media-query {

    height: 1.5rem;
}

// PASSWORD RESET FORM //

@mixin reset-form-mobile {

    @include login-form-mobile;

}

@mixin reset-form-desktop-media-query {

    height: 1.5rem;
}