
// FILEO ICON AT 25 PERCENT SIZE REDUCTION //
@mixin fileo-icon-25-percent {

    height: 77px;
    width: 68px;

}

@mixin steps-icon-container {

    display: none; 

}

@mixin steps-icons {

        color: $register-icon-color;
        font-size: 1.5rem;
    
    }
