{% extends 'base.html' %}
{% block content %}
<h1>You are logged in as {{ username }}</h1>
{% if jobs_count > 1%}
<h2>{{ jobs_count }} current jobs.</h2>
{% else %}
<h2>{{ jobs_count }} current job.</h2>
{% endif %}
<h2>Add Job</h2>
<form method="POST">
    {% csrf_token %}
    <form method="POST">
        {% csrf_token %}
        <div class="fieldWrapper">
            <p>
                {{ form.job_title.errors }}
                {{ form.job_title.label_tag }}
                {{ form.job_title }}
            </p>
        </div>
        <div class="fieldWrapper">
           <p>
               {{ form.job_number.errors }}
               {{ form.job_number.label_tag }}
               {{ form.job_number}}
           </p>
        <div class="fieldWrapper">
            <p>
                {{ form.location.errors }}
                {{ form.location.label_tag }}
                {{ form.location }}
            </p>
        </div>
        <div class="fieldWrapper">
            <p>
                {{ form.start_date.errors }}
                {{ form.start_date.label_tag }}
                {{ form.start_date }}
            </p>
        </div>
        <div class="fieldWrapper">
            <p>
                {{ form.end_date.errors }}
                {{ form.end_date.label_tag }}
                {{ form.end_date }}
            </p>
        </div>
        <div class="fieldWrapper">
            <p>
                {{ form.client.errors }}
                {{ form.client.label_tag }}
                {{ form.client }}
            </p>
        </div>
    {% if not clients %}
        <p>You are seeing an empty drop down list because you haven't added any clients to your account yet.
            You must do this before you can create a new job.
        </p>
        <p>You can follow the link here to Manage Clients.</p>
        <div>
            <a href="{% url 'manage_clients' username=username %}">Manage Clients</a>
        </div>
    {% endif %}
    <button type="submit">Add Job</button>
</form>
<p>
{% for message in messages %}
{{ message }}
{% endfor %}
</p>
<hr>
<div>
    {% if jobs %}
    {% for job in jobs %}
    <div>
        <h3>Job Title </h3>
        <p>{{ job.job_title }}</p>
        <h4>Job Number</h4>
        <p>{{ job.job_number }}</p>
        <h4>Location</h4>
        <p>{{ job.location }}</p>
        <h4>Start Date</h4>
        <p> {{ job.start_date }}</p>
        <h4>End Date</h4>
        <p>{{ job.end_date }}</p>
        <h4>Client</h4>
        <p>{{ job.client.first_name }} {{ job.client.last_name }}</p>
        <h4>Client Username</h4>
        <p>{{ job.client.username }}</p>
        <p><a href="{% url 'edit_job' username=username job_id=job.id %}">Update Job</a></p>
        
        <!--<form method="" action="{% url 'edit_job' username=username job_id=job.id %}">
            {% csrf_token %}
            <button type="submit">Edit Job</button>
        </form>-->
       
        <form method = "POST" action="{% url 'delete_job' username=username job_id=job.id %}">
            {% csrf_token %}
            <button type="submit">Delete Job</button>
        </form>
    </div>
    <hr>
    {% endfor %}
    {% endif %}

</div>
{% endblock %}