{% extends 'base.html' %}
{% load static %}
{% block head_js %}
<script defer type="text/javascript" src="{% static '/js/utility.js' %}"></script>
<script defer type="text/javascript" src="{% static '/js/head.js' %}"></script>
<script defer type="text/javascript" src="{% static '/js/manage.js' %}"></script>
{% endblock head_js %}
{% block content %}
{% include 'header.html' %}
<div class="manage-container">
    <div class="manage-form-container">
        <div class="steps-icon">
            <i class="fas fa-briefcase steps-icon__icon" aria-hidden="true"></i>
        </div>
        <h1 class="manage-heading">Manage Jobs</h1>
        <!----- DESKTOP TOTALS VIEW ------>
        <div class="manage-total manage-total-desktop">
            {% if jobs_count > 1 %}
                <p>You have a total of {{ jobs_count }} jobs.</p>
            {% elif jobs_count == 0 %}
                <p>You have a total of {{ jobs_count }} jobs.</p>
            {% elif jobs_count == 1 %}
                <p>You have a total of {{ clients_count }} job.</p>
            {% endif %}
        </div>
        <!-------------------------------->
        {% if not form.job_title.value %}
        <p class="manage-text">Create a New Job</p>
        {% else %}
        <p class="manage-text">Update {{ form.job_title.value }}</p>
        {% endif %}
        <form class="manage-form" method="POST">
            {% csrf_token %}
                <p>
                    {{ form.job_title.errors }}
                    {{ form.job_title.label_tag }}
                    {{ form.job_title }}
                </p>
                <p>
                    {{ form.job_number.errors }}
                    {{ form.job_number.label_tag }}
                    {{ form.job_number}}
                </p>
                <p>
                    {{ form.client.errors }}
                    {{ form.client.label_tag }}
                    {{ form.client }}
                </p>
            {% if not form.job_title.value %}
            <button class="manage-form__button"type="submit">Add Job</button>
            {% else %}
            <button class="manage-form__button"type="submit">Update Job</button>
            {% endif %}
        </form>
    {% if not clients %}
        <p>You are seeing an empty drop down list because you haven't added any clients to your account yet.
            You must do this before you can create a new job.
        </p>
        <p>You can follow the link here to Manage Clients.</p>
        <div>
            <a href="{% url 'manage_clients' username=username %}">Manage Clients</a>
        </div>
    {% endif %}
    {% if messages %}
        {% for message in messages %}
        <p class="generic-success"> <i class="fas fa-check-circle" aria-hidden="true"></i> {{ message }}</p>
        {% endfor %}
    {% else %}
        <div class="generic-success-dummy"></div>
    {% endif %}
</div>
    <!----- MOBILE TOTALS VIEW ---->
    <hr class="manage-hr manage-total-mobile">
    <div class="manage-total manage-total-mobile">
        {% if jobs_count > 1 %}
            <p>You have a total of {{ jobs_count }} jobs.</p>
        {% elif jobs_count == 0 %}
            <p>You have a total of {{ jobs_count }} jobs.</p>
        {% elif jobs_count == 1 %}
            <p>You have a total of {{ jobs_count }} job.</p>
        {% endif %}
    </div>
    <hr class="manage-hr manage-hr--added-margin manage-total-mobile">
    <!-------------------------->

    <div class="manage-items-container">
        {% if jobs %}
        {% for job in jobs %}
        <div class="manage-item-container">
            <div class="manage-item__row">
                <div class="manage-item__column">
                    <p id="manage-items__text-top"><strong><i class="fas fa-briefcase manage-item__icon" aria-hidden="true"></i></strong> {{ job.job_title }}</p>
                </div>
            </div>
            <hr class="manage-items-hr">
            <div class="manage-item__row">
                <div class="manage-item__column">
                    <p><strong><i class="fas fa-hashtag manage-item__icon" aria-hidden="true"></i></strong> {{ job.job_number }}</p>
                </div>
            </div>
            <hr class="manage-items-hr">
            <div class="manage-item__row">
                <div class="manage-item__column">
                    <p><strong><i class="fas fa-user manage-item__icon" aria-hidden="true"></i> </strong>{{ job.client.first_name}} {{ job.client.last_name }}</p>
                </div>
            </div>
            <hr class="manage-items-hr">
            <div class="manage-item__row">
                <div class="manage-item__column manage-item__button-column">
                    <form class="manage-button" method="POST" action="{% url 'manage_jobs' username=username  %}"><!--job_id=job.id-->
                        {% csrf_token %}    
                        <input type="hidden" name="update" value="true">
                        <input type="hidden" name="job_id" value="{{ job.id }}">
                        <button class="manage-button__button" type="submit">Update Job</button>
                    </form>
                </div>
                <div class="manage-item__column manage-item__button-column">
                    <div class="manage-button">
                        <button data-id="manage-delete" class="manage-button__button manage-button__button--delete-color">Delete Job</button>
                    </div>
                </div>
            </div>
            <div class="manage-item__row manage-item__row--center manage-delete__button--hide">
                <div class="manage-item__column manage-item__column--center">
                    <p class="manage-item__delete-text">Are you sure ?</p>
                    <p class="manage-item__delete-text">All related cycles will be deleted too.</p>
                    <form class="manage-button" method="POST" action="{% url 'delete_job' username=username job_id=job.id %}">
                        {% csrf_token %}
                        <button class="manage-button__button manage-button__button--delete-color" type="submit">Yes <i class="fas fa-check" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div>
            <i class="fas fa-ban manage-no-item-icon" aria-hidden="true"></i>
        </div>
        <div class="manage-no-item-container manage-item-container">
            <div class="manage-no-items-message">
                <p>Your jobs will appear here once they are created.</p>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}