{% extends 'base.html'%}
{% block content %}
<h1>Logged into Member Cycle Page as {{ username }}</h1>
<p>This will just show a feed of current cycles and overview of account.</p>
<a href="{% url 'manage_account' username=username %}">Manage Account</a>
<hr>
<div>
    {% if cycles %}
        <hr>
        {% for cycle in cycles %}
        <div>
            <h4>{{ cycle.job_title }}</h4>
            <h5>Job Description</h5>
            <p>{{ cycle.description }}</p>
            <h5>Job Location</h5>
            <p>{{ cycle.location }}</p>
            <h5>Client</h5>
            <p>{{ cycle.client }}</p>
            <p> Fileo Project ID: {{ cycle.id }}</p>
            <form action="{% url 'porthole' username=username cycle_id=cycle.id client_username=cycle.client %}">
                <button type="submit">Go to Cycle</button>
            </form>
        </div>
        <hr>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}