{% extends 'base.html'%}
{% block content %}
<h1>Logged into Member Cycle Page as {{ username }}</h1>
<h2>Manage Account</h2>
{% if not profile %}
<p>Your profile isn't complete yet. You won't be able to use the full Fileo service until completed.</p>
{% endif %}
<ul>
    <li>
        <a href="{% url 'member_profile' username=username %}">Manage Profile</a>{% if profile %}<span> Completed</span>{% endif %}
    </li>
    <li>
        <a href="{% url 'manage_clients' username=username %}">Manage Clients</a>
    </li>
    <li>
        <a href="{% url 'manage_jobs' username=username %}">Manage Jobs</a> 
    </li>
    <li>
        <a href="{% url 'manage_cycles' username=username %}">Manage Cycles</a>
    </li>
</ul>
<hr>
<h2>Search Your Cycles</h2>
<p>Search by Job Title, Job Name, Fileo ID, and Client</p>
<form>
    <input type="text" name="search">
    <button type="submit">Search</button>
</form>
<div>
    {% if cycles %}
        <hr>
        {% for item in cycles %}
        <div>
            <div>
                <h3>Cycle Title</h3>
                <p>{{ item.cycle.cycle_title }}</p>
                <h4>Fileo Cycle ID: {{ item.cycle.id }}</h4>
                {% if not item.cancelled %}
                <p>Active</p>
                {% elif item.cancelled %}
                <p>Cancelled</p>
                {% elif item.pending %}
                <p>Payment Pending</p>
                {% endif %}
                <h3>Description</h3>
                <p>{{ item.cycle.description }}</p>
                <h3>Job</h3>
                <p>{{ item.cycle.job.job_title }}</p>
                <h3>Client</h3>
                <p>{{ item.cycle.client.first_name}} {{ item.cycle.client.last_name}}</p>
                <h3>Client Username</h3>
                <p>{{ item.cycle.client.username }}</p>
                <hr>
                {% if item.approve_quote == True %}
                <p><strong>Quote Status:</strong> Approved</p>
                {% elif item.contest_quote == True %}
                <p><strong>Quote Status:</strong> Contesed</p>
                {% else %}
                <p><strong>Quote Status:</strong> No Status.</p>
                {% endif %}
                <hr>
                {% if item.approve_po == True %}
                <p><strong>PO Status:</strong> Approved</p>
                {% elif item.contest_po == True %}
                <p><strong>PO Status:</strong> Contesed</p>
                {% else %}
                <p><strong>PO Status:</strong> No Status.</p>
                {% endif %}
                <hr>
                {% if item.approve_invoice == True %}
                <p><strong>Invoice Status:</strong> Approved</p>
                {% elif item.contest_invoice == True %}
                <p><strong>Invoice Status:</strong> Contesed</p>
                {% else %}
                <p><strong>Invoice Status:</strong> No Status.</p>
                {% endif %}
            </div>
            <hr>
            <form action="{% url 'porthole' username=username cycle_id=item.cycle.id client_username=item.cycle.client.username %}">
                <button type="submit">Go to Cycle</button>
            </form>
        </div>
        <hr>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}