{% extends 'base.html'%}
{% block content %}
<h1>Logged into Member Cycle Page as {{ username }}</h1>
<h2>Manage Account</h2>
{% if not profile %}
<p>Your profile isn't complete yet. You won't be able to use the full Fileo service until completed.</p>
{% endif %}
<ul>
    <li>
        <a href="{% url 'member_profile' username=username %}">Manage Profile</a>{% if profile %}<span> Completed</span>{% endif %}
    </li>
    <li>
        <a href="{% url 'manage_clients' username=username %}">Manage Clients</a>
    </li>
    <li>
        <a href="{% url 'manage_jobs' username=username %}">Manage Jobs</a> 
    </li>
    <li>
        <a href="{% url 'manage_cycles' username=username %}">Manage Cycles</a>
    </li>
</ul>
<hr>
<div>
    {% if cycles %}
        <hr>
        {% for cycle in cycles %}
        <div>
            <div>
                <h3>Cycle Title</h3>
                <p>{{ cycle.cycle_title }}</p>
                <h3>Description</h3>
                <p>{{ cycle.description }}</p>
                <h3>Job</h3>
                <p>{{ cycle.job.job_title }}</p>
                <h3>Client</h3>
                <p>{{ cycle.client.first_name}} {{ cycle.client.last_name}}</p>
                <h3>Client Username</h3>
                <p>{{ cycle.client.username }}</p>
                <h4>Fileo Cycle ID: {{ cycle.id }}</h4>
            </div>
            <form action="{% url 'porthole' username=username cycle_id=cycle.id client_username=cycle.client %}">
                <button type="submit">Go to Cycle</button>
            </form>
        </div>
        <hr>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}