// COLORS //

// LOGIN PAGE //
$login_bg_color: #3a5864;
$login-signup-color: #bbbdbee6;
$login-green:  #81aeaa;
$login-error-red: #f00;

// REGISTER PAGE //
$register-bg-color: #99c396;
$register-icon-color: #81a57e;
$register-explain-icons:#597b78;
$register-text: #547251;