// COLORS //

// LOGIN PAGE //
$login_bg_color: #3a5864;
$login-signup-color: #bbbdbee6;
$login-green:  #81aeaa;
$login-error-red: #f00;

// REGISTER PAGE //
$register-bg-color: #81aeaa;
$register-icon-color: #597b78;
$register-explain-icons:#597b78;
$register-text: #547251;

// RESET PAGE // 

$reset-bg-color: #da964a;
$reset-login-button-color: #c98132;

// HEADER //

$nav-icons: #1e3038;
$drop-down-bg-hover: #d6d7d8;
$banner-color:rgba(89, 123, 120, 0.3);

// CYCLE STATUS COLORS //

$cancelled-color: #cb4747;
$pending-color: #d5b25e;
$complete-color: #6d9050;

$cancelled-icon-color: #833434;
$pending-icon-color: #897343;
$active-icon-color: #384847;
$complete-icon-color: #445c31;

// HR ITEMS COLOR //
$porthole-items-hr-color: #3a5864;
$hr-items-color:#252525;
$manage-items-hr: #1b2928;


// MANAGE ITEMS COLORS //

$manage-item-delete-show-color: #90c1bc;

// INPUT TEXT COLOR //

$input-color: #26404a;;

// MANAGE CYCLE CANCELLED BUTTONS //

$disabled-buttons: #4f7382;
$disabled-buttons-text: #7b7b7b;