// global resets //


html {

    font-size: 16px;
}
html, body {

    border: 0;
    margin: 0;
    padding: 0;
    height: 100%
    
}

a {

    text-decoration: none;
}

hr {

    margin: 0;
}

 input {

    border: none;
    box-shadow: none;
   
 }


 ul, ol{

    list-style: none;

 }

 select {

    border: none;
    //height: 1.6rem;
    //border-radius: .2rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background:transparent;
 }

 h1,h2,h3,h4,h5,h6,p,a,button,select,span {

    font-family: $text-font;
}
