// global resets //
html {

    font-size: 16px;
}

html, body {

    border: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    
}

a {

    text-decoration: none;
    color: #fff;
}

hr {

    margin: 0;
}

 input {

    border: none;
    box-shadow: none;
    color: $input-color;
   
 }

 input[type=number] {

    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
   
 }


 ul, ol{

    list-style: none;

 }

 select {

    border: none;
    //height: 1.6rem;
    //border-radius: .2rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background:transparent;
 }

 h1,h2,h3,h4,h5,h6,p,a,button,select,span,label,textarea, input {

    font-family: $text-font;
}

h1 {

    font-size: 1.5rem;
    color: #fff;
}

h2,h3,h4,h5,h6 {

    color: #fff;
}

p, button, a{

    color: #fff;
    font-size: .8rem;
}

.body-color {

    //height: auto;
    //width: 100%;
    background-color:$login-green;
    position: relative;
    z-index:-10;
}